<!-- BEGIN PAGE HEADER-->
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <a ui-sref="dashboard">
                <span class="title" translate>HOME</span>
            </a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <a ui-sref="fileupload">All Submissions
                <!-- <span class="title" translate>UPLOAD</span> -->
            </a>
        </li>
    </ul>
</div>

<div class="row" id="AllSubsCtrl" ng-controller="AllsubsCtrl">
    <div class="leftPanel col-md-4">
        <div class="portlet light bordered jstree-portlet">
            <div class="portlet-title">
                <div class="caption font-green-sharp">
                    <i class="icon-settings font-green-sharp"></i>
                    <span class="caption-subject bold uppercase">Submissions</span>
                    <!-- <a class="btn-circle" ng-click="toggleTree()">
                        <i class="fa fa-caret-up" title="close file tree" ng-show="open"></i>
                        <i class="fa fa-caret-down" title="open file tree" ng-hide="open"></i>
                    </a> -->
                </div>
                <!-- <div class="actions">
                    <form class="form-horizontal" role="form" ng-submit="savetree();" title="Save File Tree">
                        <div class="form-actions">
                            <div class="btn-group">
                                <button type="submit" class="btn btn-sm green">
                                    <span class="title" translate>SAVE</span>
                                </button>
                                <a class="btn btn-square btn-default btn-sm" href="#" title="Expand/Shrink File Tree Panel" id="expandTree">
                                    <i class="fa fa-exchange" aria-hidden="true"></i>
                                </a>
                            </div>
                        </div>
                    </form>
                </div> -->
            </div>
            <div class="portlet-body">
                <div id="jsECTDtree" class="scroller"> </div>
            </div>
        </div>

    </div>
   
    <div class="rightPanel col-md-8">
        <div class="portlet light bordered upload-portlet">
            <div class="portlet-title">
                <div class="caption font-green-sharp">
                    <i class="icon-settings font-green-sharp"></i>
                    <span class="caption-subject bold uppercase">info</span>
                    <!-- <span class="caption-helper" translate>MAXFILE </span> &nbsp;<span class="caption-helper" translate>MAXSIZE</span> -->
                </div>
                <div class="actions">
                    <div class="btn-group">
                    </div>
                    <!-- <a class="btn btn-circle btn-icon-only btn-default" id="expandScreen" href="#" data-original-title="" title="Expand Screen">
                        <i class="fa fa-expand" aria-hidden="true"></i>
                    </a> -->
                </div>
            </div>

            <div class="portlet-body row">

                <div class="uploadTree col-sm-6">
                    <div class="portlet-title">
                        <div class="caption font-green-sharp">
                            <span class="caption-subject bold uppercase">Sub</span>
                        </div>

                    </div>
                    <div class="portlet-body upload-result-files">
                        <span ng-show="showHint">Uploaded file is empty.
                            <br /> To upload files, click button Choose Files</span>
                        <div id="uploadFileTree"></div>
                    </div>
                </div>
                <div class="col-sm-6 upload-queue">
                    sub info
                </div>
            </div>
        </div>
    </div>

</div>

<!-- <script src="dist/UpFiletree.js"></script> -->
<script>
    //console.log(FileUploadCtrl);
</script>