<!-- BEGIN PAGE HEADER-->
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <a ui-sref="dashboard"><span class="title" translate>HOME</span></a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <a ui-sref="dashboard"><span class="title" translate>DASHBOARD</span></a>
        </li>
    </ul>
    <div class="page-toolbar">
        <div class="btn-group pull-right">
            <button type="button" class="btn btn-sm btn-default"> 
                <i class="fa fa-arrows-alt" aria-hidden="true"></i>
            </button>
        </div>
    </div>
</div>
<!-- <h3 class="page-title"> <span class="title" translate>MYSUB</span> <i class="fa fa-caret-right" aria-hidden="true"></i></h3> -->
<!-- END PAGE HEADER-->
<!-- BEGIN MAIN CONTENT -->
<div ng-controller="DashboardController">
    <!-- <div class="row-fluid">
        <table class="table table-striped" id="appTable">
            <thead>
                <tr><th><span class="title" translate>NUMBER</span></th>
                    <th><span class="title" translate>DESCRIPTION</span></th>
                    <th><span class="title" translate>SEQUENCE</span></th>
                    <th><span class="title" translate>CREATEDATE</span></th>
                    <th><span class="title" translate>UPDATEDATE</span></th>
                    <th><span class="title" translate>SUBMITDATE</span></th>
                    <th><span class="title" translate>ACTION</span></th>
                </tr>
            </thead>
            <tbody ng-if="submissions.length > 0">
              <tr ng-repeat="submission in submissions">
                <td title="Sequence: {{submission.version}}">{{submission.folder}}</td>   
                <td><span ng-if="!submission.submitDate"><i class="fa fa-file-o"></i></span><span ng-if="submission.submitDate"><i class="fa fa-file"></i></span>
                        <span>&nbsp;&nbsp;{{ submission.description}}</span></td>
                <td>{{submission.version}}</td>
                <td>{{submission.createdAt}}</td>
                <td>{{submission.updatedAt}}</td>
                <td><span ng-if="!submission.submitDate"><i class="fa fa-times" aria-hidden="true"></i></span><span ng-if="submission.submitDate">{{submission.submitDate}}</span></td>
                <td><span ng-if="!submission.submitDate"><a ng-click="edit(submission)" title="Edit" style="font-size: 16px;"><i class="fa fa-edit"></i></a></span> &nbsp;&nbsp;
                    <span ng-if="submission.submitDate"><a ng-click="view(submission)" title="View"><span class="title" translate>VIEW</span></a></span>
                    
                </td>
              </tr>
            </tbody>
            <tbody ng-if=" !submissions || submissions.length <=0 ">
                <tr><td colspan="5">You has not created any application yet. Create a new application now</td>
            </tbody>
        </table> 
    </div>
    <div class="row" style="text-align: center; margin-bottom: 20px;">
        <button type="button" class="btn btn-primary btn-md" ng-click="viewall()" ng-show="submissions.length>=5"><span class="title" translate>VIEWALL</span></button>
        <button type="button" class="btn btn-primary btn-md" ng-click="create()"><span class="title" translate>CREATENEW</span></button>
    </div> -->
    
    <div class="row" id="panel" style="text-align: center;">
        <!-- <svg class="svg_block" xmlns:xlink="http://www.w3.org/1999/xlink" width="612px" height="502.174px" enable-background="new 0 65.326 612 502.174"
        xml:space="preserve">
            <polygon class="poly" points="44.525, 0 133.575, 0 178.1, 77.1173 133.575, 154.2346 44.525, 154.2346 0, 77.1173" ></polygon>
            <text class="navMenu" x="89.05" y="85.02096px" text-anchor="middle">US Submission</text>
            <polygon class="poly blue" points="44.525, 0 133.575, 0 178.1, 77.1173 133.575, 154.2346 44.525, 154.2346 0, 77.1173"></polygon>
            Sorry, your browser does not support inline SVG.
        </svg> -->
<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 1086 768" xml:space="preserve" style="width: 70%; min-height: 600px; margin: 0 auto;">
    <style type="text/css">
        g.us .outer{fill: #EAEAEA;}
        g.space .outer{fill: #E0E0E0;}
        g.balance .outer{fill: #d4d4d4;}

        g.us .inner,
        g.space .inner,
        g.balance .inner {fill:none;stroke:#7F7F7F;stroke-miterlimit:10;}

        g.us text,
        g.space text,
        g.balance text {fill:#212529; font-size:24px; cursor: pointer;}

        g.cn .outer{fill:#263682;}
        g.subs .outer{fill:#5B72D3;}
        g.settings .outer{fill: #263682;}
        g.cn .inner,
        g.subs .inner,
        g.settings .inner {fill:none;stroke:#FFFFFF;stroke-miterlimit:10;}

        g.cn ellipse,
        g.subs ellipse,
        g.settings ellipse{fill:#fff;}

        g.cn text,
        g.subs text,
        g.settings text {fill:#fff; font-size:24px; cursor: pointer;}
        /* g a:hover ~ polygon{
            stroke:#fff;
        } */
        g .outer:hover{
            fill: #212529;
            cursor: pointer;
        }
        g .outer:hover ~ polygon{
            stroke:#fff;
        }
        g .outer:hover ~ .point{
            fill: #fff;
        }g .outer:hover ~ a text{
            fill: #fff;
        }
    </style>

	<g class="us">
		<polygon class="outer" points="243.7,154 85.9,154 7,296.1 85.9,438.1 243.7,438.1 322.6,296.1 "/>
		<polygon class="inner" points="21.5,296.9 89.7,168.7 237.7,168.7 308.8,296.9 233.4,422.2 89.7,422.2 "/>
		<ellipse class="point" cx="90.2" cy="168.7" rx="5.1" ry="5.1"/>
		<ellipse class="point" cx="22.2" cy="294.4" rx="5.1" ry="5.1"/>
		<ellipse class="point" cx="90.2" cy="420.1" rx="5.1" ry="5.1"/>
		<ellipse class="point" cx="235" cy="420.1" rx="5.1" ry="5.1"/>
		<ellipse class="point" cx="307.4" cy="294.4" rx="5.1" ry="5.1"/>
		<ellipse class="point" cx="239.3" cy="168.7" rx="5.1" ry="5.1"/>
		<a ng-click="create('us')"><text x="165" y="300" text-anchor="middle">US Submission</text></a>
	</g>

	<g class="cn">
		<polygon class="outer" points="486.6,10 330.4,10 252.3,152 330.4,294.1 486.6,294.1 564.7,152 "/>
		<polygon class="inner" points="266.1,153.9 334.3,22.7 482.4,22.7 553.5,153.9 478,282.1 334.3,282.1 "/>
		<ellipse class="point" cx="333.4" cy="22.9" rx="5.1" ry="5.3"/>
		<ellipse class="point" cx="265.4" cy="153.5" rx="5.1" ry="5.3"/>
		<ellipse class="point" cx="333.4" cy="281.2" rx="5.1" ry="5.3"/>
		<ellipse class="point" cx="476.8" cy="281.2" rx="5.1" ry="5.3"/>
		<ellipse class="point" cx="552" cy="153.5" rx="5.1" ry="5.3"/>
		<ellipse class="point" cx="481.1" cy="22.9" rx="5.1" ry="5.3"/>
		<a ng-click="create('cn')"><text x="400" y="165" text-anchor="middle">CN Submission</text></a>
	</g>
	<g class="space">
		<polygon class="outer" points="488.5,303.1 331,303.1 252.3,445.1 331,587.1 488.5,587.1 567.2,445.1 "/>
		<polygon class="inner" points="265.4,447.2 333.4,318.2 481.1,318.2 552,447.2 476.8,573.2 333.4,573.2 "/>
		<ellipse class="point" cx="333.4" cy="319" rx="5.1" ry="5.2"/>
		<ellipse class="point" cx="265.4" cy="447.6" rx="5.1" ry="5.2"/>
		<ellipse class="point" cx="333.4" cy="573.1" rx="5.1" ry="5.2"/>
		<ellipse class="point" cx="476.8" cy="573.1" rx="5.1" ry="5.2"/>
		<ellipse class="point" cx="552" cy="447.6" rx="5.1" ry="5.2"/>
		<ellipse class="point" cx="481.1" cy="319" rx="5.1" ry="5.2"/>
		<a ><text x="400" y="460" text-anchor="middle">View Space</text></a>
	</g>
	<g class="subs">
		<polygon class="outer" points="245.8,448.2 89.6,448.2 11.5,589.1 89.6,730 245.8,730 323.9,589.1 "/>
		<polygon class="inner" points="22.9,591 91.1,457.6 239.2,457.6 310.3,591 234.8,721.3 91.1,721.3 "/>
		<ellipse class="point" cx="91.7" cy="460.7" rx="5.1" ry="5.3"/>
		<ellipse class="point" cx="23.6" cy="591.3" rx="5.1" ry="5.3"/>
		<ellipse class="point" cx="91.7" cy="719" rx="5.1" ry="5.3"/>
		<ellipse class="point" cx="235" cy="719" rx="5.1" ry="5.3"/>
		<ellipse class="point" cx="310.3" cy="591.3" rx="5.1" ry="5.3"/>
		<ellipse class="point" cx="239.3" cy="460.7" rx="5.1" ry="5.3"/>
		<a ui-sref="allsubs"><text x="165" y="600" text-anchor="middle">View Submissions</text></a>
	</g>

	<g class="balance">
		<polygon class="outer" points="731.9,152.6 575.7,152.6 497.5,294.6 575.7,436.6 731.9,436.6 810,294.6 "/>
		<polygon class="inner" points="510.1,297.3 578.1,166.5 725.8,166.5 796.7,297.3 721.4,425.1 578.1,425.1 "/>
		<ellipse class="point" cx="578.1" cy="168.8" rx="5.1" ry="5.2"/>
		<ellipse class="point" cx="510.1" cy="297.3" rx="5.1" ry="5.2"/>
		<ellipse class="point" cx="578.1" cy="422.8" rx="5.1" ry="5.2"/>
		<ellipse class="point" cx="721.4" cy="422.8" rx="5.1" ry="5.2"/>
		<ellipse class="point" cx="796.7" cy="297.3" rx="5.1" ry="5.2"/>
		<ellipse class="point" cx="725.8" cy="168.8" rx="5.1" ry="5.2"/>
		<a xlink:href="http://www.google.com"><text x="650" y="300" text-anchor="middle">Balance</text></a>
	</g>

	<g class="settings">
		<polygon class="outer" points="978.4,298.3 819.1,298.3 739.5,444.1 819.1,589.8 978.4,589.8 1058,444.1"/>
		<polygon class="inner" points="755.4,445.8 823.8,310.3 972.2,310.3 1043.5,445.8 967.9,578.3 823.8,578.3 "/>
		<ellipse class="point" cx="824.2" cy="312" rx="5.1" ry="5.4"/>
		<ellipse class="point" cx="756.2" cy="445.4" rx="5.1" ry="5.4"/>
		<ellipse class="point" cx="824.2" cy="575.8" rx="5.1" ry="5.4"/>
		<ellipse class="point" cx="967.5" cy="575.8" rx="5.1" ry="5.4"/>
		<ellipse class="point" cx="1042.8" cy="445.4" rx="5.1" ry="5.4"/>
		<ellipse class="point" cx="971.9" cy="312" rx="5.1" ry="5.4"/>
		<a xlink:href="http://www.google.com"><text x="890" y="460" text-anchor="middle">Settings</text></a>
	</g>
</svg>

    </div>
    
    
</div>

