<div class="page-bar" style="">
        <nav class="navbar">
            <div class="row">
    <!--<div class="navbar-header"> <a class="navbar-brand" href="#">Tools</a></div>-->
                <ul class="nav navbar-nav navbar-tools tools-menu edit-menu" id="tools-menu">
                    <!--<li><a href="#"><i class="fa fa-arrows-alt"></i> <div>Full Screen</div></a></li>-->
                    <li><a href="#" title="Open Link" data-tool="react"><i class="fa fa-openid"></i><div translate>REACT</div></a></li>
                    <li><a href="#" title="Select Text to Link" data-tool="select"><i class="fa fa-square-o"></i><div translate>SELECT</div></a></li>
                    <li><a href="#" title="Add Link" data-tool="link"><i class="fa fa-link" aria-hidden="true"></i><div translate>LINK</div></a></li>
                    <li><a href="#" data-tool="text" title="Add new text"><i class="fa fa-file-text-o " aria-hidden="true"></i><div translate>NOTE</div></a></li>
                    <li><a href="#" title="Ctrl+Z" data-tool="backward"><i class="fa fa-backward " aria-hidden="true"></i><div translate>BACKWARD</div></a></li>
                    <li><a href="#" title="Ctrl+Y" data-tool="forward"><i class="fa fa-forward" aria-hidden="true"></i><div translate>FORWARD</div></a></li>
                    <!--<li><a href="#" title="Refresh" data-tool="refresh"><i class="fa fa-refresh" aria-hidden="true"></i><div>refresh</div></a></li>-->
                    <li><a href="#"><i class="fa fa-star-half-o" aria-hidden="true"></i><div translate>FAVORITE</div></a></li>          
                    <!--<li><a href="#" data-tool="delete" title="Delete current page"><i class="fa fa-window-close" aria-hidden="true"></i><div>delete</div></a></li>
                    <li><a href="#"><i class="fa fa-files-o" aria-hidden="true"></i><div>duplicate</div></a></li>-->
                    <li><a href="#"><i class="fa fa-bookmark-o" aria-hidden="true"></i><div translate>BOOKMARK</div></a></li>
                    <li><a href="#"><i class="fa fa-align-left" aria-hidden="true"></i><div translate>ALIGN</div></a></li>
                    <li><a href="#"><i class="fa fa-square" aria-hidden="true"></i><div translate>COLOR</div></a></li>
                    <li><a href="#"><i class="fa fa-font" aria-hidden="true"></i><div translate>FONT</div></a></li>
                    <!--<li><a href="#" title="preview" id="check-pdf-btn"><i class="fa fa-check-square-o" aria-hidden="true"></i><div translate>CHECK</div></a></li>-->
                    <li><a href="#" title="Save file" id="save-pdf-btn"><i class="fa fa-floppy-o"></i><div translate>SAVEFILE</div></a></li>
                    <li><a href="#" title="Download file" id="download-btn"><i class="fa fa-download" aria-hidden="true"></i><div translate>DOWNLOAD</div></a></li>
                    <!--<li><a href="#"><i class="fa fa-pencil-square-o" aria-hidden="true"></i><div>Edit Info</div></a></li>
                    <li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i></a></li>
                    <li class="pull-right"><a href="#" title="Download file" id=""><i class="fa fa-arrows-alt" aria-hidden="true"></i> <div>Full Screen</div></a></li>-->
                </ul>
            </div>
        </nav>
</div>

<div class="rightPanel" >
        <div class="row" >
           
            <div class="col-sm-3 sidebar" ng-controller="JstreeCtrl" id="JstreeCtrl">
                <div class="caption font-green-sharp" style="font-size:14px; margin: 15px 0px 10px 10px;">
                    <span class="caption-subject bold uppercase">Application</span>
                    <a class="btn-circle" ng-click="toggleTree()">
                        <i class="fa fa-caret-up" title="close file tree" ng-show="open"></i>
                        <i class="fa fa-caret-down" title="open file tree" ng-hide="open"></i>
                    </a>
                </div>
                <div id="jsECTDtree" class="scroller"> </div>
            </div>
        
            <div class="col-sm-9 panel-container">
                
                <div class="pdf-editor panel-left" data-loaded="false" data-task="edit" id="pdf-editor">
                    <nav class="right-tabs">
                      <a href="#" class="pdfTab">PDF file to edit</a>
                      
                      <span class="pageControl">
                          <a href="#" class="prePage" title="Previous Page"><i class="fa fa-backward"></i>
                          </a>
                          <select class="pageList" title="page number"></select>
                          <a href="#" class="nextPage" title="Next Page"><i class="fa fa-forward"></i>
                          </a>
                          <input type="text" class="pageNum" placeholder="page" maxlength="4" size="4"/>
                      </span>
                    </nav>
                    <div class="drop-file-zone">
                        <div class="drop-files-zone-hint"><i class="fa fa-plus fa-3x"></i><br />Drag &amp; drop file here</div>
                    </div>    
                    <div class="fileZone"><div class="load-process">Loading...</div> </div><!-- tools Menu -->
                </div>
                <div class="splitter">
                    <div class="top-sp"></div>
                    <div class="bottom-sp"></div>
                </div>
                <div class="pdf-frame panel-right" id="pdf-frame" data-loaded="false">
                    <nav class="right-tabs">
                        <a href="#" class="pdfTab">PDF file to view</a>
                       
                        <span class="pageControl">
                          <a href="#" class="prePage" title="Previous Page"><i class="fa fa-backward"></i>
                          </a>
                          <select class="pageList" title="page number"></select>
                          <a href="#" class="nextPage" title="Next Page"><i class="fa fa-forward"></i>
                          </a>
                          <input type="text" class="pageNum" placeholder="page" maxlength="4" size="4" />
                        </span>
                    </nav>
                    <div class="drop-file-zone">
                                <div class="drop-files-zone-hint"><i class="fa fa-plus fa-3x"></i><br />Drag &amp; drop file here</div>
                    </div>    
                    <div class="fileZone"><div class="load-process">Loading...</div></div>
                </div> 
            </div>
        </div>
       
        <div class="container centered" style="width:50%;">
                    <div class="row">
                        <script>
                            window.lastTextEditSettings = {
                                size: 16,
                                color: 'rgb(0,0,0)',
                                font: 'Times New Roman'
                            };
                            //$('.font-size-opts').attr('title',window.lastTextEditSettings.size);
                        </script>
                        <div style="display: none" class="text-editable-menu edit-menu" id="text-editable-menu">
                            <div aria-label="..." role="group" class="btn-group">
                                <button class="btn btn-default font-bold-opts"><i class="fa fa-bold"></i></button>
                                <button class="btn btn-default font-italic-opts"><i class="fa fa-italic"></i></button>
                                <div role="group" class="btn-group">
                                    <button aria-expanded="false" aria-haspopup="true" data-toggle="dropdown" class="btn btn-default dropdown-toggle" type="button"><i class="fa fa-text-height"></i><span class="caret"></span></button>
                                    <ul class="dropdown-menu font-size-opts" title="16">
                                        <li><input name="fontSize" value="10" max="100" min="1" type="range">
                                       </li>
                                    </ul>
                                </div>
                                <div role="group" class="btn-group">
                                    <button aria-expanded="false" aria-haspopup="true" data-toggle="dropdown" class="btn btn-default dropdown-toggle" type="button">Font Family<span class="caret"></span></button>
                                    <ul class="dropdown-menu font-family-opts">
                                        <li><a data-font="'Times New Roman',serif" class="times-new-roman" href="javascript://">Times New Roman</a></li>
                                        <li><a data-font="Helvetica,sans-serif" class="helvetica" href="javascript://">Helvetica</a></li>
                                        <li><a data-font="'Courier New',monospace" class="courier" href="javascript://">Courier</a></li>
                                    </ul>
                                </div>
                                <div role="group" class="btn-group">
                                    <button aria-expanded="false" aria-haspopup="true" data-toggle="dropdown" class="btn btn-default dropdown-toggle" type="button">Color<span class="caret"></span></button>
                                    <div class="dropdown-menu color-opts">
                                        <div class="color-swatch-col">
                                            <a style="background-color: #01579B" class="color-swatch" href="javascript://"></a>
                                            <a style="background-color: #0277BD" class="color-swatch" href="javascript://"></a>
                                            <a style="background-color: #0288D1" class="color-swatch" href="javascript://"></a>
                                            <a style="background-color: #039BE5" class="color-swatch" href="javascript://"></a>
                                            <a style="background-color: #03A9F4" class="color-swatch" href="javascript://"></a>
                                            <a style="background-color: #29B6F6" class="color-swatch" href="javascript://"></a>
                                            <a style="background-color: #4FC3F7" class="color-swatch" href="javascript://"></a>
                                            <a style="background-color: #81D4FA" class="color-swatch" href="javascript://"></a>
                                            <a style="background-color: #B3E5FC" class="color-swatch" href="javascript://"></a>
                                            <a style="background-color: #E1F5FE" class="color-swatch" href="javascript://"></a>
                                        </div>
                                        <div class="color-swatch-col">
                                            <a style="background-color: #1B5E20" class="color-swatch" href="javascript://"></a>
                                            <a style="background-color: #2E7D32" class="color-swatch" href="javascript://"></a>
                                            <a style="background-color: #388E3C" class="color-swatch" href="javascript://"></a>
                                            <a style="background-color: #43A047" class="color-swatch" href="javascript://"></a>
                                            <a style="background-color: #4CAF50" class="color-swatch" href="javascript://"></a>
                                            <a style="background-color: #66BB6A" class="color-swatch" href="javascript://"></a>
                                            <a style="background-color: #81C784" class="color-swatch" href="javascript://"></a>
                                            <a style="background-color: #A5D6A7" class="color-swatch" href="javascript://"></a>
                                            <a style="background-color: #C8E6C9" class="color-swatch" href="javascript://"></a>
                                            <a style="background-color: #C8E6C9" class="color-swatch" href="javascript://"></a>
                                        </div>
                                        <div class="color-swatch-col">
                                            <a style="background-color: #F57F17" class="color-swatch" href="javascript://"></a>
                                            <a style="background-color: #F9A825" class="color-swatch" href="javascript://"></a>
                                            <a style="background-color: #FBC02D" class="color-swatch" href="javascript://"></a>
                                            <a style="background-color: #FDD835" class="color-swatch" href="javascript://"></a>
                                            <a style="background-color: #FFEB3B" class="color-swatch" href="javascript://"></a>
                                            <a style="background-color: #FFEE58" class="color-swatch" href="javascript://"></a>
                                            <a style="background-color: #FFF176" class="color-swatch" href="javascript://"></a>
                                            <a style="background-color: #FFF59D" class="color-swatch" href="javascript://"></a>
                                            <a style="background-color: #FFF9C4" class="color-swatch" href="javascript://"></a>
                                            <a style="background-color: #FFFDE7" class="color-swatch" href="javascript://"></a>
                                        </div>
                                        <div class="color-swatch-col">
                                            <a style="background-color: #B71C1C" class="color-swatch" href="javascript://"></a>
                                            <a style="background-color: #C62828" class="color-swatch" href="javascript://"></a>
                                            <a style="background-color: #D32F2F" class="color-swatch" href="javascript://"></a>
                                            <a style="background-color: #E53935" class="color-swatch" href="javascript://"></a>
                                            <a style="background-color: #F44336" class="color-swatch" href="javascript://"></a>
                                            <a style="background-color: #EF5350" class="color-swatch" href="javascript://"></a>
                                            <a style="background-color: #E57373" class="color-swatch" href="javascript://"></a>
                                            <a style="background-color: #EF9A9A" class="color-swatch" href="javascript://"></a>
                                            <a style="background-color: #FFCDD2" class="color-swatch" href="javascript://"></a>
                                            <a style="background-color: #FFEBEE" class="color-swatch" href="javascript://"></a>
                                        </div>
                                        <div class="color-swatch-col">
                                            <a style="background-color: #4A148C" class="color-swatch" href="javascript://"></a>
                                            <a style="background-color: #6A1B9A" class="color-swatch" href="javascript://"></a>
                                            <a style="background-color: #7B1FA2" class="color-swatch" href="javascript://"></a>
                                            <a style="background-color: #8E24AA" class="color-swatch" href="javascript://"></a>
                                            <a style="background-color: #9C27B0" class="color-swatch" href="javascript://"></a>
                                            <a style="background-color: #AB47BC" class="color-swatch" href="javascript://"></a>
                                            <a style="background-color: #BA68C8" class="color-swatch" href="javascript://"></a>
                                            <a style="background-color: #CE93D8" class="color-swatch" href="javascript://"></a>
                                            <a style="background-color: #E1BEE7" class="color-swatch" href="javascript://"></a>
                                            <a style="background-color: #F3E5F5" class="color-swatch" href="javascript://"></a>
                                        </div>
                                        <div class="color-swatch-col">
                                            <a style="background-color: #3E2723" class="color-swatch" href="javascript://"></a>
                                            <a style="background-color: #4E342E" class="color-swatch" href="javascript://"></a>
                                            <a style="background-color: #5D4037" class="color-swatch" href="javascript://"></a>
                                            <a style="background-color: #6D4C41" class="color-swatch" href="javascript://"></a>
                                            <a style="background-color: #795548" class="color-swatch" href="javascript://"></a>
                                            <a style="background-color: #8D6E63" class="color-swatch" href="javascript://"></a>
                                            <a style="background-color: #A1887F" class="color-swatch" href="javascript://"></a>
                                            <a style="background-color: #BCAAA4" class="color-swatch" href="javascript://"></a>
                                            <a style="background-color: #D7CCC8" class="color-swatch" href="javascript://"></a>
                                            <a style="background-color: #EFEBE9" class="color-swatch" href="javascript://"></a>
                                        </div>
                                        <div class="color-swatch-col">
                                            <a style="background-color: #212121" class="color-swatch" href="javascript://"></a>
                                            <a style="background-color: #424242" class="color-swatch" href="javascript://"></a>
                                            <a style="background-color: #616161" class="color-swatch" href="javascript://"></a>
                                            <a style="background-color: #757575" class="color-swatch" href="javascript://"></a>
                                            <a style="background-color: #9E9E9E" class="color-swatch" href="javascript://"></a>
                                            <a style="background-color: #BDBDBD" class="color-swatch" href="javascript://"></a>
                                            <a style="background-color: #E0E0E0" class="color-swatch" href="javascript://"></a>
                                            <a style="background-color: #EEEEEE" class="color-swatch" href="javascript://"></a>
                                            <a style="background-color: #F5F5F5" class="color-swatch" href="javascript://"></a>
                                            <a style="background-color: #FAFAFA" class="color-swatch" href="javascript://"></a>
                                        </div>
                                    </div>
                                </div>
                                <button class="btn btn-default delete-opts"><i class="fa fa-trash-o"></i></button>
                            </div>
                        </div><!-- text edit tools-->

                        <div style="display: none" class="link-editable-menu edit-menu" id="link-editable-menu">
                            <div aria-label="..." role="group" class="btn-group">
                                <!--<div class="form-group">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-link"></i> </span>
                                        <input autocomplete="off" placeholder="sample.pdf " class="form-control" type="text">
                                    </div>
                                </div>
                                
                                <div role="group" class="btn-group">
                                    <button aria-expanded="false" aria-haspopup="true" data-toggle="dropdown" class="btn btn-default dropdown-toggle" type="button">Link file to choose<span class="caret"></span></button>
                                    <ul class="dropdown-menu fileList">
                                        
                                    </ul>
                                </div>-->
                                <div role="group" class="btn-group">
                                    <button class="btn btn-default"><i class="fa fa-link"></i></button>
                                    <select name="fileList" class="fileList" style="width: 200px; height: 35px;" title="Link to File"></select>
                                    <select name="pageList" class="pageList" style="width: 50px; height: 35px; display: none; margin-left: -5px;" title="Link to page number"></select>
                                </div>
                                <button class="btn btn-default delete-opts"><i class="fa fa-trash-o"></i></button>
                            </div>
                        </div><!-- link edit tools -->
                    
                    </div>
                </div><!-- edit dropdown tools -->      
        <div style="display:none; position: absolute;" id="selectionBorder"></div>
        <div style="display: none" class="modal app-modal" id="removeUnusedTextPrompt">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button aria-label="Close" data-dismiss="modal" class="close" type="button"><span aria-hidden="true">×</span></button>
                                <div class="modal-title">
                                    There are some unused text edits. (the default <i>www.sample.com</i>)<br> Should we remove them before continuing?
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-no btn-light btn-xs" type="button">No, don't remove</button>
                                <button class="btn btn-yes btn-xs" type="button">Yes, remove</button>
                            </div>
                        </div>
                    </div>
                </div>

    </div>                        
<!--<script src="dist/jsECTDtree.js"></script>-->
<script> 
    //"use strict";
    var appUid, userData;  
    function JstreeCtrl($rootScope, $scope, $state, $cookies, $translate, CookiesApiService, FileApiService){
        
        var appUid;                                                //console.log("user Data", CookiesApiService.GetCookies());
        if(CookiesApiService.GetCookies()){
            appUid = $rootScope.appData.appUid;
            userData = $rootScope.userData;
        }
        userData = JSON.parse($cookies.get('globals'));
        if(!$rootScope.subFiles){
           //JsTree.initTree(fileTree);
           $state.go("fileupload").then(function() {}); 
        }else{
            //var fileJson = fileTree.concat($rootScope.subFiles);                 //console.log($rootScope.subFiles);
            JsTree.initTree($rootScope.subFiles);
            JsTree.setSelectList($rootScope.subFiles);
            //JsTree.upFiles = $rootScope.subFiles;
        }
        $scope.toggleTree = function(){
            JsTree.toggle($rootScope.open);
            $rootScope.open = ! $rootScope.open; 
        };
       
        JsTree.closeSidebar();
        //$rootScope.settings.layout.pageSidebarClosed = true;
        $scope.saveEdits = function(fuuid, editData){
            return FileApiService.SaveEdits(fuuid, userData, editData);
        }
        $scope.getFileByUuid = function(fuuid){
            return FileApiService.GetFile(fuuid, userData); 
        }
        $scope.getUserData = function(){
            return userData;
        };
     }
</script>
<script src="dist/pdfjs/pdf.min.js"></script>
    <script>
        PDFJS.workerSrc = 'dist/pdfjs/pdf.worker.js';
        PDFJS.cMapUrl = './cmaps/';
        PDFJS.cMapPacked = true;
        PDFJS.disableStream = true; 
    </script>
<script src="dist/jquery-resizable.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="dist/Filetree.js"></script>
<script src="dist/editLink/edits.js"></script>
<!--<script src="https://use.fontawesome.com/572e7c8d9e.js" async="async"></script>-->