<!-- BEGIN PAGE HEADER-->
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <a ui-sref="dashboard">Home</a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <a ui-sref="fileupload">File Upload</a>
        </li>
    </ul> 
</div>
<!-- <h3 class="page-title"> File Upload </h3>
END PAGE HEADER-->
<!-- BEGIN MAIN CONTENT -->
<div class="note note-success">
    <h3>
        <span class="label label-danger">File Upload: Add files to correct location and give file correct name.</span>
    </h3>
</div>
<div class="row" ng-controller="FileUploadCtrl" nv-file-drop="" uploader="uploader" filters="queueLimit, customFilter">
    <div class="col-md-4">
        
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption font-green-sharp">
                    <!--<i class="icon-settings font-green-sharp"></i>-->
                    <span class="caption-subject bold uppercase">Current application</span>
                    <a class="btn btn-circle btn-icon-only btn-default btn-toggle" href="#">
                        <i class="icon-share-alt" title="close file tree"></i>
                    </a>
                </div>
                <div class="actions">
                    <form class="form-horizontal" role="form" ng-submit="savetree();">
                    <div class="form-actions">
                            <div class="btn-group">
                                    <button type="submit" class="btn green">Save</button>
                                    <button type="button" class="btn default" ng-click="canceltree()">Cancel</button>
                            </div>
                    </div></form>
                </div>
            </div>
            <div class="portlet-body"><div id="jsECTDtree" style=""> </div>
            </div>
        </div>
       
    </div>
    <div class="col-md-8">
        <!-- BEGIN: ACCORDION DEMO -->
        <div class="portlet light bordered upload-portlet">
            <div class="portlet-title">
                <div class="caption font-green-sharp">
                    <i class="icon-settings font-green-sharp"></i>
                    <span class="caption-subject bold uppercase">Upload queue</span>
                    <span class="caption-helper">Queue length: {{ uploader.queue.length }} of Maximum 10 files</span>
                </div>
                <div class="actions">
                    <div class="btn-group">
                        <a class="btn btn-circle btn-default btn-sm" href="#" data-toggle="dropdown">
                            <i class="fa fa-cogs"></i> Other Panels
                            <i class="fa fa-angle-down"></i>
                        </a>
                        <ul class="dropdown-menu pull-right">
                            <li>
                                <a ng-click="togglePortlet('m1')">
                                    <i class="fa fa-info"></i> Admin Info </a>
                            </li>
                            <li>
                                <a ng-click="togglePortlet('m4')">
                                    <i class="fa fa-bar-chart"></i> Study Report </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-ban"></i> Admin Page </a>
                            </li>
                            <li class="divider"> </li>
                            
                        </ul>
                    </div>
                    <a class="btn btn-circle btn-icon-only btn-default fullscreen" href="#" data-original-title="" title=""> </a>
                </div>
            </div>
            <div class="portlet-title">
                <div class="caption font-green-sharp">
                    <input type="file" nv-file-select="" uploader="uploader" accept="application/pdf" multiple />
                </div>
            </div>
            <div class="portlet-body">
                <div class="table-scrollable table-scrollable-borderless">
                    <table class="table table-hover table-light">
                        <thead>
                            <tr class="uppercase">
                                <th width="50%">Name</th>
                                <th ng-show="uploader.isHTML5">Size</th>
                                <th ng-show="uploader.isHTML5">Progress</th>
                                <th>Status</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in uploader.queue">
                                <td>
                                    <strong>{{ item.file.name }}</strong>
                                </td>
                                <td ng-show="uploader.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</td>
                                <td ng-show="uploader.isHTML5">
                                    <div class="progress progress-sm" style="margin-bottom: 0;">
                                        <div class="progress-bar progress-bar-info" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
                                    </div>
                                </td>
                                <td class="text-center">
                                    <span ng-show="item.isSuccess" class="text-success">
                                        <i class="glyphicon glyphicon-ok"></i>
                                    </span>
                                    <span ng-show="item.isCancel" class="text-info">
                                        <i class="glyphicon glyphicon-ban-circle"></i>
                                    </span>
                                    <span ng-show="item.isError" class="text-danger">
                                        <i class="glyphicon glyphicon-remove"></i>
                                    </span>
                                </td>
                                <td nowrap>
                                    <button type="button" class="btn btn-success btn-xs" ng-click="item.upload()" ng-disabled="item.isReady || item.isUploading || item.isSuccess">
                                        <span class="glyphicon glyphicon-upload"></span> Upload </button>
                                    <button type="button" class="btn btn-warning btn-xs" ng-click="item.cancel()" ng-disabled="!item.isUploading">
                                        <span class="glyphicon glyphicon-ban-circle"></span> Cancel </button>
                                    <button type="button" class="btn btn-danger btn-xs" ng-click="removeUpFile(item)">
                                        <span class="glyphicon glyphicon-trash"></span> Remove </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div>
                    <p>Queue progress:</p>
                    <div class="progress progress-sm" style="">
                        <div class="progress-bar progress-bar-info" role="progressbar" ng-style="{ 'width': uploader.progress + '%' }"></div>
                    </div>
                </div>
                <button type="button" class="btn btn-success btn-s" ng-click="uploader.uploadAll()" ng-disabled="!uploader.getNotUploadedItems().length">
                    <span class="glyphicon glyphicon-upload"></span> Upload all </button>
                <button type="button" class="btn btn-warning btn-s" ng-click="uploader.cancelAll()" ng-disabled="!uploader.isUploading">
                    <span class="glyphicon glyphicon-ban-circle"></span> Cancel all </button>
                <button type="button" class="btn btn-danger btn-s" ng-click="removeQueue(uploader.queue)" ng-disabled="!uploader.queue.length">
                    <span class="glyphicon glyphicon-trash"></span> Remove all </button>
            </div>
            <div class="caption font-green-sharp upload-result-header" style="padding-top: 30px;"><i class="icon-settings font-green-sharp"></i>
                    <span class="caption-subject bold uppercase">Upload Result</span>
            </div>
            <div class="portlet-body upload-result-files" ><div id="uploadFileTree"> </div> 
            </div>
        </div>
        <div class="portlet light bordered admin-portlet" style="display: none;" ng-controller="adinfoCtrl" ng-init="uneditable = true">
            <div class="portlet-title">
                <div class="caption font-green-sharp">
                    <i class="icon-settings font-green-sharp"></i>
                    <span class="caption-subject bold uppercase">Adminstration Information</span>
                    
                </div>
                <div class="actions">
                    <a class="btn btn-circle btn-icon-only btn-default" ng-click="toggleEditable()">
                        <span class="glyphicon glyphicon-pencil" ng-show="uneditable" title="Editable"></span>
                        <span class="glyphicon glyphicon-ban-circle" ng-hide="uneditable" title="Uneditable" style="color: red;"></span>
                    </a>
                    <a class="btn btn-circle btn-icon-only btn-default" title="Close" ng-click="togglePortlet()">
                         <span class="	glyphicon glyphicon-remove"></span>
                    </a>
                </div>
            </div>
            <div class="portlet-body" >
                <form class="form-horizontal" role="form" ng-submit="submitAdinfo();" name="adminForm">
                    <div class="form-body"> 
                        <div class="form-group" ng-class="{'has-error' : adminForm.appID.$touched && adminForm.appID.$invalid }">
                            <label for="appID" class="col-sm-3"><span class="form-label">Application ID(D-U-N-SO)</span></label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" name="appID" id="appID" ng-model="formData.appID" placeholder="Enter application ID" required ng-disabled="uneditable">
                                <p ng-show=" adminForm.appID.$touched && adminForm.appID.$invalid" class="help-block">Application ID is required.</p>
                            </div>
                        </div>
                        <div class="form-group" ng-class="{ 'has-error' : adminForm.companyName.$invalid && adminForm.companyName.$touched }">
                            <label for="companyName" class="col-sm-3"><span class="form-label">Company Name</span> </label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" name="companyName" id="companyName" ng-model="formData.companyName" placeholder="Enter Company Name" required ng-disabled="uneditable">
                                <p ng-show=" adminForm.companyName.$touched && adminForm.companyName.$invalid" class="help-block">Company Name is required.</p>
                            </div>
                        </div>
                           
                        <div class="form-group" ng-class="{ 'has-error' : adminForm.description.$invalid && adminForm.description.$touched }">
                                     <label for="description" class="col-sm-3"><span class="form-label">Submission Description</span></label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" name="description" id="description" ng-model="formData.description" placeholder="Enter Submission Description" required ng-disabled="uneditable">
                                        <p ng-show="adminForm.description.$touched && adminForm.description.$invalid" class="help-block">Submission Description is required.</p>
                                    </div>
                        </div>
                        <div class="form-group" ng-class="{ 'has-error' : adminForm.appNumber.$invalid && adminForm.appNumber.$touched }">
                                    <label for="appNumber" class="col-sm-3"><span class="form-label">Application Number</span> </label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" name="appNumber" id="appNumber" ng-model="formData.appNumber" placeholder="Enter Application Number" ng-disabled="uneditable" required>
                                        <p ng-show=" adminForm.appNumber.$touched && adminForm.appNumber.$invalid" class="help-block">Application Number is required.</p>
                                    </div>
                        </div>
                        <div class="form-group" ng-class="{ 'has-error' : adminForm.appType.$invalid && adminForm.appType.$touched }">
                                    <label for="appType" class="col-sm-3"><span class="form-label">Application Type</span> </label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" name="appType" id="appType" ng-model="formData.appType" placeholder="Enter Application Type" ng-disabled="uneditable" required>
                                        <p ng-show=" adminForm.appType.$touched && adminForm.appType.$invalid" class="help-block">Application Type is required.</p>
                                    </div>
                        </div>
                        <div class="form-group row" ng-class="{ 'has-error' : adminForm.subID.$invalid && adminForm.subID.$touched }">
                            <label for="subID" class="col-sm-3"><span class="form-label">Submission ID</span></label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" name="subID" id="appID" ng-model="formData.subID" placeholder="Enter Submission ID" ng-disabled="uneditable" required>
                                <p ng-show=" adminForm.subID.$touched && adminForm.subID.$invalid" class="help-block">Submission ID is required.</p>
                            </div>
                        </div>
                        <div class="form-group" ng-class="{ 'has-error' : adminForm.subType.$invalid && adminForm.subType.$touched }">
                            <label for="subType" class="col-sm-3"><span class="form-label">Submission Type</span> </label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" name="subType" id="subType" ng-model="formData.subType" placeholder="Enter Submission Type" ng-disabled="uneditable" required>
                                <p ng-show=" adminForm.subType.$touched && adminForm.subType.$invalid" class="help-block">Submission Type is required.</p>
                            </div>
                        </div>  

                       
                        <div class="form-actions">
                            <div class="row">
                                <div class="col-md-offset-2 col-md-10">
                                    <button type="submit" class="btn green" ng-disabled="subForm.$invalid || uneditable">Save</button>
                                    <button type="button" class="btn default" ng-disabled="uneditable" ng-click="cancelAdinfo()">Cancel</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            
        </div>
        <div class="portlet light bordered study-portlet" id="stfCtrl" style="display: none;" ng-controller="stfCtrl" ng-init="uneditable = true">
            <div class="portlet-title">
                <div class="caption font-green-sharp">
                    <i class="icon-settings font-green-sharp"></i>
                    <span class="caption-subject bold uppercase">Study Report</span>
                    
                </div>
                <div class="actions">
                    <a class="btn btn-circle btn-icon-only btn-default" ng-click="toggleEditable()">
                        <span class="glyphicon glyphicon-pencil" ng-show="uneditable" title="Editable"></span>
                        <span class="glyphicon glyphicon-ban-circle" ng-hide="uneditable" title="Uneditable" style="color: red;"></span>
                    </a>
                    <a class="btn btn-circle btn-icon-only btn-default" title="Close" ng-click="togglePortlet()">
                         <span class="glyphicon glyphicon-remove"></span>
                    </a>
                </div>
            </div>
            <div class="portlet-body row" >
                <form class="form-horizontal col-sm-4" role="form" ng-submit="submitStf();" name="stfForm">
                    <div class="form-body" style="padding-left: 1em; padding-right: 1em; font-size: 12px;"> 
                        <div class="form-group" ng-class="{'has-error' : stfForm.sNumber.$touched && stfForm.sNumber.$invalid }">
                            <label for="sNumber" ><span class="form-label">Structure Number</span></label>
                            <div>
                                <input type="text" class="form-control input-sm" name="sNumber" id="sNumber" ng-model="formData.sNumber" placeholder="Structure Number" required ng-disabled="uneditable">
                                <p ng-show=" stfForm.sNumber.$touched && stfForm.sNumber.$invalid" class="help-block">Structure Number is required.</p>
                            </div>
                        </div>
                        <div class="form-group" ng-class="{ 'has-error' : stfForm.title.$invalid && stfForm.title.$touched }">
                            <label for="title" ><span class="form-label">Title</span> </label>
                            <div class="">
                                <input type="text" class="form-control input-sm" name="title" id="title" ng-model="formData.title" placeholder="Title" required ng-disabled="uneditable">
                                <p ng-show=" stfForm.title.$touched && stfForm.title.$invalid" class="help-block">Title is required.</p>
                            </div>
                        </div>
                           
                        <div class="form-group" ng-class="{ 'has-error' : stfForm.eCode.$invalid && stfForm.eCode.$touched }">
                                     <label for="eCode" class=""><span class="form-label">eSubmission Code</span></label>
                                    <div class="">
                                        <input type="text" class="form-control input-sm" name="eCode" id="eCode" ng-model="formData.eCode" placeholder="eSubmission Code" required ng-disabled="uneditable">
                                        <p ng-show="stfForm.eCode.$touched && stfForm.eCode.$invalid" class="help-block">eSubmission Code is required.</p>
                                    </div>
                        </div>
                        <div class="form-group" ng-class="{ 'has-error' : stfForm.studyNumber.$invalid && stfForm.studyNumber.$touched }">
                                    <label for="studyNumber" class=""><span class="form-label">Study Number</span> </label>
                                    <div class="">
                                        <input type="text" class="form-control input-sm" name="studyNumber" id="studyNumber" ng-model="formData.studyNumber" placeholder="Study Number" ng-disabled="uneditable" required>
                                        <p ng-show=" stfForm.studyNumber.$touched && stfForm.studyNumber.$invalid" class="help-block">Study Number is required.</p>
                                    </div>
                        </div>
                        <div class="form-group" ng-class="{ 'has-error' : stfForm.species.$invalid && stfForm.species.$touched }">
                                    <label for="species" class=""><span class="form-label">Species</span> </label>
                                    <div class="">
                                        <input type="text" class="form-control input-sm" name="species" id="species" ng-model="formData.species" placeholder="Species" ng-disabled="uneditable" required>
                                        <p ng-show=" stfForm.species.$touched && stfForm.species.$invalid" class="help-block">Species is required.</p>
                                    </div>
                        </div>
                        <div class="form-group row" ng-class="{ 'has-error' : stfForm.route.$invalid && stfForm.route.$touched }">
                            <label for="route" class=""><span class="form-label">Route of Admin</span></label>
                            <div class="">
                                <input type="text" class="form-control input-sm" name="route" id="route" ng-model="formData.route" placeholder="Route of Admin" ng-disabled="uneditable" >
                                <!--<p ng-show=" adminForm.subID.$touched && adminForm.subID.$invalid" class="help-block">Submission ID is required.</p>-->
                            </div>
                        </div>
                        <!--<div class="form-group" ng-class="{ 'has-error' : stfForm.duration.$invalid && stfForm.duration.$touched }">-->
                        <div class="form-group">
                            <label for="duration" class=""><span class="form-label">Duration</span> </label>
                            <div class="">
                                <input type="text" class="form-control input-sm" name="duration" id="duration" ng-model="formData.duration" placeholder="Duration" ng-disabled="uneditable">
                                <!--<p ng-show=" adminForm.subType.$touched && adminForm.subType.$invalid" class="help-block">Submission Type is required.</p>-->
                            </div>
                        </div>  
                         <div class="form-group">
                            <label for="control" class=""><span class="form-label">Type of Control</span> </label>
                            <div class="">
                                <input type="text" class="form-control input-sm" name="control" id="control" ng-model="formData.control" placeholder="Control" ng-disabled="uneditable">
                                <!--<p ng-show=" adminForm.subType.$touched && adminForm.subType.$invalid" class="help-block">Submission Type is required.</p>-->
                            </div>
                        </div>  
                         <div class="form-group">
                            <label for="media" class=""><span class="form-label">Output Media</span> </label>
                            <div class="">
                                <input type="text" class="form-control input-sm" name="media" id="media" ng-model="formData.media" placeholder="Output Media" ng-disabled="uneditable">
                                <!--<p ng-show=" adminForm.subType.$touched && adminForm.subType.$invalid" class="help-block">Submission Type is required.</p>-->
                            </div>
                        </div>   
                        <div class="form-group">
                           
                            <div class="">
                                <label class="form-check-label"><input type="checkbox" name="sourcefile" id="sourcefile" ng-model="formData.sourcefile" />Publish source file unchange</label><br />
                                <label class="form-check-label"><input type="checkbox" name="bookmarks" id="bookmarks" ng-model="formData.bookmarks" />Publish PDF bookmarks</label>   <br />
                                <label class="form-check-label"><input type="checkbox" name="singleDoc" id="singleDoc" ng-model="formData.singleDoc" />Publish as Single Document</label><br />
                                <label class="form-check-label"><input type="checkbox" name="noNodes" id="noNodes" ng-model="formData.noNodes" />Do not publish nodes as bookmarks</label><br />
                                <label class="form-check-label"><input  type="checkbox" name="subnodes" id="subnodes" ng-model="formData.subnodes" />Allow subnodes</label>
                            </div>
                        </div>  
                          <div class="form-group">
                            <label for="contOption" class=""><span class="form-label">Content Option</span> </label>
                            <div class="">
                                <input type="text" class="form-control input-sm" name="contOption" id="contOption" ng-model="formData.contOption" placeholder="Default" ng-disabled="uneditable">
                                <!--<p ng-show=" adminForm.subType.$touched && adminForm.subType.$invalid" class="help-block">Submission Type is required.</p>-->
                            </div>
                        </div>  
                        <div class="form-actions">
                            <div class="row">
                                    <button type="submit" class="btn green" ng-disabled="stfForm.$invalid || uneditable">Save</button>
                                    <button type="button" class="btn default" ng-disabled="uneditable" ng-click="cancelStf()">Cancel</button>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="study-frame col-sm-8" style="background: #999; height: 800px;"></div>
            </div>
            
        </div>
        <!-- END: ACCORDION DEMO -->
    </div>
    
</div>
<!-- END MAIN CONTENT -->
<!-- BEGIN MAIN JS-->
<script>
    function adinfoCtrl($rootScope, $scope, $state){
      
        var jsonx={'appID': '000000000','companyName':'3D Medcines(Sichuan) Co.Ltd.', 'description': 'Investigational New Drug Application for KN035, IND 901193',
                    'appNumber':'901193', 'appType': 'Investigational New Drug(IND)', 'subID': '0000', 'subType': 'Original Application'};
        //$scope.init = function(){
            $scope.formData = angular.copy(jsonx)
        //}
        $scope.toggleEditable = function(){
            $scope.uneditable = $scope.uneditable? false : true;
        };
        
        $scope.submitAdinfo = function(){
             if($scope.adminForm.$valid){
                var jsonData = $scope.formData;                                 //console.log(jsonData)
                /*$.post('php/adinfo.php', {'appData': jsonData}, function(result){
                    if(result) {
                        toastr.success('Submission application ID: '+result);
                        $state.go("fileupload").then(function() {   });
                    }
                });*/
                $scope.uneditable = true; 
            }   
            
        };
        $scope.cancelAdinfo = function(){                                              //console.log(jsonx);
            $scope.formData = angular.copy(jsonx);
            $scope.adminForm.$setPristine();
            $scope.adminForm.$setUntouched();
            $scope.adminForm.$setValidity();
        }; 
    }
    function stfCtrl($rootScope, $scope, $state){
        var jsonX= {};
       
        $scope.init = function(){}
        $scope.setFormData = function(data){
            jsonX = data;                                                   console.log('formData: ', data);
            $scope.uneditable = false;
            $scope.formData = angular.copy(data);
        };
        $scope.toggleEditable = function(){
            $scope.uneditable = $scope.uneditable? false : true;
        };
        
       $scope.submitStf = function(){
           
       } ;
       $scope.cancelStf = function(){
            $scope.formData = angular.copy(jsonx);
            $scope.stfForm.$setPristine();
            $scope.stfForm.$setUntouched();
            $scope.stfForm.$setValidity();
       };
    }
    var Portlet = function(){
        return{
            init: function(){
                
            },
            toggle: function(id){
                if(id==="m1"){
                    $('.upload-portlet').hide(); 
                    $('.study-portlet').hide();
                    $('.admin-portlet').fadeIn(300);
                }else if(id==="m4"){
                    $('.upload-portlet').hide(); 
                    $('.admin-portlet').hide();
                    $('.study-portlet').fadeIn(300);
                    var node = JsTree.getSelectedNode();                        //console.log(node);
                    if(node && node.parents.indexOf("m4")>=0 && node.type ==="file"){
                        this.openFrame(node.text);
                        var formData = {'sNumber': '4.2.1.1.1', 'title': 'Compounds Screening Using hURAT1 Dependent Uric Acide Uptake Assay', 'eCode': 'Study Report(STF2.2)',
                                        'studyNumber': 'CPB-P13-4459', 'media': 'Electronic and Paper', 'contOption': 'Default', 'subnodes': 'true'};
                        angular.element("#stfCtrl").scope().setFormData(formData);
                    }
                        
                }else{
                    $('.admin-portlet').hide(); 
                    $('.study-portlet').hide();
                    $('.upload-portlet').fadeIn(300);
                }
               
            },
            openFrame: function(filename){                                      //console.log(filename);
                $('.study-frame').find('iframe').remove();
                var frame = $('<iframe src=pdfFiles/'+filename+' width="100%" height="'+800+'"></iframe>');
                $('.study-frame').append(frame)
            }
        }
    }();
</script>
<script>
    function FileUploadCtrl($rootScope, $scope, $state, $cookies, FileUploader){
        var uploader = $scope.uploader = new FileUploader({
            url: 'php/upload.php'
        }); 
        // FILTERS
        uploader.filters.push({
            name: 'customFilter',
            fn: function(item /*{File|FileLikeObject}*/ , options){
                return this.queue.length < 10;
            }
        });
        // CALLBACKS
        uploader.onWhenAddingFileFailed = function(item /*{File|FileLikeObject}*/ , filter, options){
            console.info('onWhenAddingFileFailed', item, filter, options);
        };
        uploader.onAfterAddingFile = function(fileItem){                       
           if(removeFile($rootScope.uploadFiles, fileItem, 0)) fileItem.remove();         // remove file when there is duplicate
        };
       
        uploader.onCompleteItem = function(fileItem, res, status, headers){
            if(res){                                                             //console.log(res);
                if(removeFile($rootScope.uploadFiles, fileItem, 0)) {fileItem.remove(); return; }            //to make sure that no duplicate file name
                var treeNode = {'id': res.fid, 'parent': 'up1', 'text': res.filename, 'type': 'file', 'Description': 'File ID: '+res.fid};
                $rootScope.uploadFiles.push(treeNode);                                                                                
            };
        };
        uploader.onCompleteAll = function(){
            //$cookies.putObject('uploadFiles': $rootScope.uploadFiles); //
            JsTree.refreshUploadTree($rootScope.uploadFiles);
        };
        
        //console.log('user data', $cookies.get('uploadFiles'));
        if(!$rootScope.uploadFiles){ 
            JsTree.initUploadTree();
            $rootScope.uploadFiles = [{ "id" : "up1", "parent" : "#", "text" : "uploaded Files", 'type': 'root', "Description": "Uploaded files"}];
        }else{
            JsTree.initUploadTree($rootScope.uploadFiles);
        }                                                                       // console.log('upload files',  $rootScope.uploadFiles)
       
        if(!$rootScope.subFiles){
           JsTree.initSubTree(fileTree);
        }else
            JsTree.initSubTree(fileTree.concat($rootScope.subFiles));

        $scope.savetree = function(){
            var json = JsTree.get_fileJson();
            if(json){
                $rootScope.subFiles = json;                                     //console.log('data', json);
                $state.go("editfile").then(function() {
                    toastr.success('Data sent to server');
                });
            }else {  toastr.warning("There is no file to save"); return; 
            }
        };
        $scope.canceltree = function(){
            toastr.warning("Remove all added files !");
            $rootScope.subFiles = []; 
            JsTree.refreshSubTree(fileTree);
        };
        $scope.removeQueue = function(queue){                                   //console.log(queue[0].file.name)
            var removed = false; 
            if($rootScope.uploadFiles.length>1)
                $.each(queue, function(index, value){                           //console.log(value);
                    removed = removeFile($rootScope.uploadFiles, value, 1); 
                })  
   
            uploader.clearQueue();                                                  
            if(removed) JsTree.refreshUploadTree($rootScope.uploadFiles);
        }
        $scope.removeUpFile = function(item){
            if(removeFile($rootScope.uploadFiles, item, 1)) JsTree.refreshUploadTree($rootScope.uploadFiles);
            item.remove();
        };
        $scope.togglePortlet = function(id){
            Portlet.toggle(id);
        }
        function removeFile(upFiles, fileItem, op){
            //var upFiles = $rootScope.uploadFiles;
            if(upFiles.length>1){                                               
              for(var i=1; i<upFiles.length; i++){
                if(upFiles[i].text===fileItem.file.name){
                    if(op) {
                        upFiles.splice(i, 1);
                         toastr.warning(fileItem.file.name + ' removed !');
                    }else
                        toastr.warning(fileItem.file.name + ' already uploaded !'); 
                    //fileItem.remove();
                    return true;
                }
              }
          }                                                                      //console.log('upload files:',$rootScope.uploadFiles);
          return false;
        }
    };
    
</script>

<script>
    var JsTree = function (){
        function customMenu(node) {
            var items = {
                'rename': { // The "rename" menu item
                    'label': "Rename",
                    'action': function (data) {                                                  //console.log(data);
                            var inst = $.jstree.reference(data.reference),
                            obj = inst.get_node(data.reference);
                            var default_text = obj.text.substr(0, obj.text.indexOf('.pdf'))
                            inst.edit(obj, default_text, function(){
                                $('#jsECTDtree').jstree(true).set_text(obj, obj.text+'.pdf');
                            }); 
                    }
                },
                'remove': { // The "delete" menu item
                    'label': "Delete",
                    'action': function (data) { //console.log(data);
                        var inst = $.jstree.reference(data.reference),
                            obj = inst.get_node(data.reference);
			if(inst.is_selected(obj)) {
				inst.delete_node(inst.get_selected());
			}else {
                            inst.delete_node(obj);
			}
                    }
                },
                'edit':{
                    'label': 'Edit',
                    'action': function(data){
                        var inst = $.jstree.reference(data.reference),
                            obj = inst.get_node(data.reference);                                 //console.log(obj);
                        if(obj.id==="m1" || obj.id==='m4') { 
                            Portlet.toggle(obj.id);
                        }
                        if(obj.parents.indexOf("m4")>=0) Portlet.toggle('m4');
                    }
                }
            };
        
            return items;
        }
        return {
            initSubTree: function(json){
               $('#jsECTDtree').jstree({
                    "core" : {
                        //"animation" : 0,
                        "check_callback" : function (op, node, par, pos, more) {     
                            if(!node.type || node.type !== "file") return false; 
                            else true; 
                            /*if(op=== 'rename_node') {console.log('rename_node');return true;}
                            else if(op=== 'delete_node') {console.log('delete_node');return true;}
                            else if (op === "move_node" || op === "copy_node")  {return true;}
                            else return false; */
                        },
                        "themes" : { "stripes" : true },
                        "data" : json
                    },
                    "types" : { "#" : {"max_children" : 6, "max_depth" :6, "valid_children" : ["root"]},
                        "root" : { "icon" : "assets/tree_icon.png","valid_children" : ["default"] },
                        "default" : {"valid_children" : ["default","file"]},
                        "file" : { "icon" : "glyphicon glyphicon-file", "valid_children" : []} 
                    },
                    "plugins" : ["contextmenu", "dnd", "types"],
                    'contextmenu' : {
                        'items' : customMenu, select_node : true
                    }
                    
                }).bind("loaded.jstree", function (event, data) {
                    $(this).jstree("open_all");
                    $('.btn-toggle').click(function(){
                        $('#jsECTDtree').jstree("close_all");
                    });
                }).bind("hover_node.jstree", function(event, data){
                    $("#"+data.node.id).prop("title",data.node.original.Description );
                }).on('copy_node.jstree', function (e, data) {
                    $('#jsECTDtree').jstree(true).set_id(data.node, data.original.id);                 // to keep original id
                });;
            },
            initUploadTree: function(fileJson){
                $('#uploadFileTree').jstree({
                    "core" : {
                        //"animation" : 0,
                        "check_callback" : false,
                        "themes" : { "stripes" : true },
                    "data" : fileJson
                    },
                    "types" : { "#" : {"max_children" : 6, "max_depth" :6, "valid_children" : ["root"]},
                        "root" : { "icon" : "assets/tree_icon.png","valid_children" : ["default", "file"] },
                        "default" : {"valid_children" : ["default","file"]},
                        "file" : { "icon" : "glyphicon glyphicon-file", "valid_children" : []} 
                    },
                    "plugins" : [ "dnd", "types"],
                    
                }).bind("loaded.jstree", function (event, data) {
                     $(this).jstree("open_all");
                }).bind("hover_node.jstree", function(event, data){
                    $("#"+data.node.id).prop("title",data.node.original.Description );//console.log(data.node.original.Description) 
                });
            },
            refreshUploadTree: function(fileJson){
                $('#uploadFileTree').jstree(true).settings.core.data = fileJson;
                $('#uploadFileTree').jstree(true).refresh();
            } ,
            refreshSubTree: function(fileJson){
                $('#jsECTDtree').jstree(true).settings.core.data = fileJson;
                $('#jsECTDtree').jstree(true).refresh();
            },
            get_fileJson: function(){
                var json = $('#jsECTDtree').jstree(true).get_json('#', {flat:true});
                var fileArray=[];
                for(var i=0; i<json.length; i++){
                    if(json[i].type==="file") fileArray.push(json[i]);
                }
                if(fileArray.length>0) return fileArray;
                else return false;
            },
            getSelectedNode: function(){
                var node = $('#jsECTDtree').jstree().get_selected(true);
                return node.length ? node[0] : false;
            }
        }   
    }();
</script><script>
var fileTree = [{ "id" : "sub1", "parent" : "#", "text" : "submission 1", 'type': 'root'},
    { "id" : "m1", "parent" : "sub1", "text" : "Administrative infromation and Prescribing Information"},
    { "id" : "m1us", "parent" : "m1", "text" : "us", 'Description': 'United States' },
    { "id" : "m11", "parent" : "m1us", "text" : "11-forms", "Description": 'FDA Forms'},
    { "id" : "m12", "parent" : "m1us", "text" : "12-cover-letters", "Description": 'Covering letters'},
    { "id" : "m112", "parent" : "m1us", "text" : "112-other-correspondence", "Description": 'Other Correspondence'},
    { "id" : "m114", "parent" : "m1us", "text" : "114-labeling", "Description": 'Labeling'},
    { "id" : "m120", "parent" : "m1us", "text" : "120-gen-inves-plan", "Description": 'General Investigational plan for initial IND'},
    { "id" : "m2", "parent" : "sub1", "text" : "Summaries"},
    { "id" : "m22", "parent" : "m2", "text" : "22-intro", "Description": "Introduction", "state" : { "disabled" : true}},
    { "id" : "m23", "parent" : "m2", "text" : "23-qos", "Description": "Quality overall Summary" },
    { "id" : "m24", "parent" : "m2", "text" : "24-noclin-over", "Description": "Nonclinical Overview"},
    { "id" : "m25", "parent" : "m2", "text" : "25-clin-over", "Description": "Clinical Overview"},
    { "id" : "m26", "parent" : "m2", "text" : "26-nonclin-sum", "Description": "Nonclinical Written and Tabulated Summaries"},
    { "id" : "m27", "parent" : "m2", "text" : "27-clin-sum", "Description": "Clinical Summary"},
    { "id" : "m3", "parent" : "sub1", "text" : "Quality" },
    { "id" : "m32", "parent" : "m3", "text" : "32-body-data", "Description": "Body of Data"},
    { "id" : "m32s", "parent" : "m32", "text" : "32s-drug-sub","Description": "Drug Substance"},
    { "id" : "m32s0", "parent" : "m32s", "text" : "substance-1-manufacturer-1", "Description": "Drug Substance [Drug Substance Name][Manufacturer"},
    { "id" : "m32s1", "parent" : "m32s0", "text" : "32s1-gen-info", "Description": "General Information(name, manufacturer"},
    { "id" : "m32s2", "parent" : "m32s0", "text" : "32s2-manuf", "Description": "Manufacture(name, manufacturer"},
    { "id" : "m32s3", "parent" : "m32s0", "text" : "32s3-charac", "Description": "Characterisation(name, manufacturer"},
    { "id" : "m32s4", "parent" : "m32s0", "text" : "32s4-contr-drug-sub", "Description": "Control of Drug Substance(name, manufacturer)"},
    { "id" : "m32s41", "parent" : "m32s4", "text" : "32s41-spec", "Description": "Specification(name, manufacturer"},
    { "id" : "m32s42", "parent" : "m32s4", "text" : "32s42-analyt-proc", "Description": "Analytical Protection(name, manufacturer"},
    { "id" : "m32s43", "parent" : "m32s4", "text" : "32s43-val-analyt-proc", "Description": "Validation of Analytical Procedures(name, manufaturer)"},
    { "id" : "m32s44", "parent" : "m32s4", "text" : "32s44-batch-analys", "Description": "Batch Analyses(name, manufaturer)"},
    { "id" : "m32s45", "parent" : "m32s4", "text" : "32s45-justif-spec", "Description": "Justification of Specification(name, manufacturer)"},
    { "id" : "m32s5", "parent" : "m32s0", "text" : "32s5-ref-stand","Description": "Reference Standards or Materials(anme, manufacturer)"},
    { "id" : "m32s6", "parent" : "m32s0", "text" : "32s6-cont-closure-sys", "Description": "Container Closure System(name, manufacturer)"},
    { "id" : "m32s7", "parent" : "m32s0", "text" : "32s7-stab", "Description": "Stability(name, manufacturer)"},
    { "id" : "m32p", "parent" : "m32", "text" : "32p-drug-prod", "Description": "Drug Product(name, dosage form)"},
    { "id" : "m32p0", "parent" : "m32p", "text" : "product-1", "Description": "Drug Product(name, dosage form)"},
    { "id" : "m32p1", "parent" : "m32p0", "text" : "32p1-desc-comp", "Description": "Description and Composition of the Drug Product(name, dosage form)"},
    { "id" : "m32p2", "parent" : "m32p0", "text" : "32p2-pharm-dev", "Description": "Pharmacertical Development(name, dosage form)"},
    { "id" : "m32p3", "parent" : "m32p0", "text" : "32p3-manuf", "Description": "Manufature(name, dosage from)"},
    { "id" : "m32p4", "parent" : "m32p0", "text" : "32p4-contr-excip", "Description": "Control of Excipients(name, dosage form)"},
    { "id" : "m32p40", "parent" : "m32p4", "text" : "excipient-1","Description": "Control of Excipients(name, dosage form)"},
    { "id" : "m32p5", "parent" : "m32p0", "text" : "32p5-contr-drug-prod", "Description": "Control of Drug Product(name, dosage form)"},
    { "id" : "m32p51", "parent" : "m32p5", "text" : "32p51-spec","Description": "Specification(s)(name, dosage form)"},
    { "id" : "m32p52", "parent" : "m32p5", "text" : "32p52-analyt-proc","Description": "Analytical Procedures(name, dosage form)"},
    { "id" : "m32p53", "parent" : "m32p5", "text" : "32p53-val-analyt-proc", "Description": "Validation of Analytical Procedures(name, dosage form)"},
    { "id" : "m32p54", "parent" : "m32p5", "text" : "32p54-batch-analys", "Description": "Batch Analyses(name, dosage form)"},
    { "id" : "m32p55", "parent" : "m32p5", "text" : "32p55-charac-imp", "Description": "Characterisation of Impurities(name, dosage form)"},
    { "id" : "m32p56", "parent" : "m32p5", "text" : "32p56-justif-spec", "Description": "Justification of Specifications(name, dosage form)"},
    { "id" : "m32p6", "parent" : "m32p0", "text" : "32p6-ref-stand", "Description": "Reference Standards or Materials(name, dosage form)"},
    { "id" : "m32p7", "parent" : "m32p0", "text" : "32p7-cont-closure-sys", "Description": "Conainer Closure System(name, dosage form)"},
    { "id" : "m32p8", "parent" : "m32p0", "text" : "32p8-stab","Description": "Stability(name, dosage form)"},
    { "id" : "m32A", "parent" : "m32", "text" : "32a-app", "Description": "Appendices"},
    { "id" : "m32A1", "parent" : "m32A", "text" : "32a1-fac-equip", "Description": "Facilities and Equipment(name, manufacturer)"},
    { "id" : "m32A2", "parent" : "m32A", "text" : "32a2-advent-agent", "Description": "Adventitious Agents Safety Evaluation(name, dosage form, manufacturer)"},
    { "id" : "m32A3", "parent" : "m32A", "text" : "32a3-excip-name", "Description": "Excipients-Name"},
    { "id" : "m32R", "parent" : "m32", "text" : "32r-reg-info", "Description": "Regional Information"},
    { "id" : "m33", "parent" : "m3", "text" : "33-lit-ref", "Description": "Literature References"},
    { "id" : "m4", "parent" : "sub1", "text" : "Nonclinical Reports"},
    { "id" : "m42", "parent" : "m4", "text" : "42-stud-rep", "Description": "Study Reports"},
    { "id" : "m421", "parent" : "m42", "text" : "421-pharmacol", "Description": "Pharmacology"},
    { "id" : "m4211", "parent" : "m421", "text" : "4211-prim-pd", "Description": "Primary Pharmacodynamics"},
    { "id" : "m4212", "parent" : "m421", "text" : "4212-sec-pd", "Description": "Secondary Pharmacodynmics"},
    { "id" : "m4213", "parent" : "m421", "text" : "4213-safety-pharmacol", "Description": "Safety Pharmacology"},
    { "id" : "m4214", "parent" : "m421", "text" : "4214-pd-drug-interact", "Description": "Pharmacodynamic Drug Interactions"},
    { "id" : "m422", "parent" : "m42", "text" : "422-pk", "Description": "Pharmacokinetics"},
    { "id" : "m4221", "parent" : "m422", "text" : "4221-analyt-met-val", "Description": "Analytical Methods and Validation Reports"},
    { "id" : "m4222", "parent" : "m422", "text" : "4222-absorp", "Description": "Absorption"},
    { "id" : "m4223", "parent" : "m422", "text" : "4223-distrib", "Description": "Distribution"},
    { "id" : "m4224", "parent" : "m422", "text" : "4224-metab", "Description": "Metabolism"},
    { "id" : "m4225", "parent" : "m422", "text" : "4225-excr", "Description": "Excretion"},
    { "id" : "m4226", "parent" : "m422", "text" : "4226-pk-drug-interact", "Description": "Pharmacokinetic Drug Interactions"},
    { "id" : "m4227", "parent" : "m422", "text" : "4227-other-pk-stud", "Description": "Other Pharmacokinetic Studies"},
    { "id" : "m423", "parent" : "m42", "text" : "423-tox", "Description": "Toxicology"},
    { "id" : "m4231", "parent" : "m423", "text" : "4231-single-dose-tox", "Description": "Single-Dose Toxicity"},
    { "id" : "m4232", "parent" : "m423", "text" : "4232-repeat-dose-tox", "Description": "Repeat-Dose Toxicity"},
    { "id" : "m4233", "parent" : "m423", "text" : "4233-genotox", "Description": "Genotoxicity"},
    { "id" : "m42331", "parent" : "m4233", "text" : "42331-in-vitro", "Description": "In vitro"},
    { "id" : "m42332", "parent" : "m4233", "text" : "42332-in-vitro", "Description": "In vitro"},
    { "id" : "m4234", "parent" : "m423", "text" : "4234-carcigen", "Description": "Carcinogenicity"},
    { "id" : "m42341", "parent" : "m4234", "text" : "42341-lt-stud", "Description": "Lont-term studies"},
    { "id" : "m5", "parent" : "sub1", "text" : "Clinical Study Reports"},]; 
</script>
<!-- BEGIN MAIN JS -->