<!-- BEGIN PAGE HEADER-->
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <a ui-sref="dashboard"><span class="title" translate>HOME</span></a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <a ui-sref="fileupload"><span class="title" translate>UPLOAD</span></a>
        </li>
    </ul> 
</div>
<!-- <h3 class="page-title"> File Upload </h3>
END PAGE HEADER-->
<!-- BEGIN MAIN CONTENT -->
<!--<div class="note note-success">
    <h3>
        <span class="label label-danger">File Upload: Add files to correct location and give file correct name.</span>
    </h3>
</div>-->
<div class="row" id="FileUploadCtrl" ng-controller="FileUploadCtrl" nv-file-drop="" uploader="uploader">
    <div class="col-md-4">
        
        <div class="portlet light bordered jstree-portlet">
            <div class="portlet-title">
                <div class="caption font-green-sharp">
                    <!--<i class="icon-settings font-green-sharp"></i>-->
                    <span class="caption-subject bold uppercase">APPLICATION</span>
                    <a class="btn-circle" ng-click="toggleTree()">
                        <i class="fa fa-caret-up" title="close file tree" ng-show="open"></i>
                        <i class="fa fa-caret-down" title="open file tree" ng-hide="open"></i>
                    </a>
                </div>
                <div class="actions">
                    <form class="form-horizontal" role="form" ng-submit="savetree();">
                    <div class="form-actions">
                            <div class="btn-group">
                                    <button type="submit" class="btn btn-sm green"><span class="title" translate>SAVE</span></button>
                                    <!--<button type="button" class="btn btn-sm default" ng-click="canceltree()"><span class="title" translate>CANCEL</span></button>-->
                            </div>
                    </div>
                    </form>
                </div>
            </div>
            <div class="portlet-body"><div id="jsECTDtree" class="scroller"> </div>
            </div>
        </div>
       
    </div>
    <!--<div class="col-md-3">
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption font-green-sharp">
                    <i class="icon-settings font-green-sharp"></i>
                    <span class="caption-subject bold uppercase">Uploaded Files</span>
                </div>
                <div class="actions">
                    <a class="btn btn-circle btn-icon-only btn-default" href="#" title="delete file"><i class="fa fa-times"></i> </a>
                </div>
            </div>
            <div class="portlet-body upload-result-files" ><span ng-show="showHint">To upload files, click button Choose Files</span>
                <div id="uploadFileTree"></div> 
            </div>
        </div>
    </div>-->
    <div class="col-md-8">
        <!-- BEGIN: ACCORDION DEMO -->
        <div class="portlet light bordered upload-portlet">
            <div class="portlet-title">
                <div class="caption font-green-sharp">
                    <i class="icon-settings font-green-sharp"></i>
                    <span class="caption-subject bold uppercase" translate>UPQUEUE</span>
                    <span class="caption-helper" translate>MAXFILE </span> &nbsp;<span class="caption-helper" translate>MAXSIZE</span>
                </div>
                <div class="actions">
                    <div class="btn-group">
                        <a class="btn btn-circle btn-default btn-sm" href="#" data-toggle="dropdown">
                            <i class="fa fa-cogs"></i> Other Panels
                            <i class="fa fa-angle-down"></i>
                        </a>
                        <ul class="dropdown-menu pull-right">
                            <li>
                                <a>
                                    <i class="fa fa-info"></i> Admin Info </a>
                            </li>
                            <li>
                                <a>
                                    <i class="fa fa-bar-chart"></i> Study Report </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-ban"></i> Admin Page </a>
                            </li>
                            <li class="divider"> </li>
                            
                        </ul>
                    </div>
                    <a class="btn btn-circle btn-icon-only btn-default fullscreen" href="#" data-original-title="" title=""> </a>
                </div>
            </div>
            
            <div class="portlet-body row">
                <div class="col-sm-4"> 
                    <div class="portlet-title">
                        <div class="caption font-green-sharp">
                           
                            <span class="caption-subject bold uppercase" translate>UPFILES</span>
                            <a class="btn btn-circle btn-icon-only" href="#" title="delete file"><i class="fa fa-times"></i> </a>
                        </div>
                        
                    </div>
                    <div class="portlet-body upload-result-files" ><span ng-show="showHint">Uploaded file is empty.<br /> To upload files, click button Choose Files</span>
                        <div id="uploadFileTree"></div> 
                    </div>
                </div>
                <div class="col-sm-8 upload-queue">
                    <div class="portlet-title">
                        <div class="caption font-green-sharp">
                            <input class="btn btn-success btn-s" type="file" nv-file-select="" uploader="uploader" accept="application/pdf" multiple />
                        </div>
                    </div>
                <div class="table-scrollable table-scrollable-borderless">
                    <table class="table table-hover table-light">
                        <thead>
                            <tr class="uppercase">
                                <th width="50%" translate>NAME</th>
                                <th ng-show="uploader.isHTML5" translate>SIZE</th>
                                <th ng-show="uploader.isHTML5" translate>PROGRESS</th>
                                <th translate>STATUS</th>
                                <th translate>ACTION</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in uploader.queue">
                                <td>
                                    <strong>{{ item.file.name }}</strong>
                                </td>
                                <td ng-show="uploader.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</td>
                                <td ng-show="uploader.isHTML5">
                                    <div class="progress progress-sm" style="margin-bottom: 0;">
                                        <div class="progress-bar progress-bar-info" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
                                    </div>
                                </td>
                                <td class="text-center">
                                    <span ng-show="item.isSuccess" class="text-success">
                                        <i class="glyphicon glyphicon-ok"></i>
                                    </span>
                                    <span ng-show="item.isCancel" class="text-info">
                                        <i class="glyphicon glyphicon-ban-circle"></i>
                                    </span>
                                    <span ng-show="item.isError" class="text-danger">
                                        <i class="glyphicon glyphicon-remove"></i>
                                    </span>
                                </td>
                                <td nowrap>
                                    <!--<button type="button" class="btn btn-success btn-xs" ng-click="item.upload()" ng-disabled="item.isReady || item.isUploading || item.isSuccess">
                                        <span class="glyphicon glyphicon-upload"></span> Upload </button>-->
                                    <button type="button" class="btn btn-warning btn-xs" ng-click="item.cancel()" ng-disabled="!item.isUploading">
                                        <span class="glyphicon glyphicon-ban-circle"></span> <span class="title" translate>CANCEL</span></button>
                                        <button type="button" class="btn btn-danger btn-xs" ng-click="removeItem(item)">
                                        <span class="glyphicon glyphicon-trash"></span> <span class="title" translate>REMOVE</span> </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div>
                    <p>Queue progress:  {{ uploader.queue.length }} </p>
                    <div class="progress progress-sm" style="">
                        <div class="progress-bar progress-bar-info" role="progressbar" ng-style="{ 'width': uploader.progress + '%' }"></div>
                    </div>
                </div>
                <button type="button" class="btn btn-success btn-s" ng-click="uploader.uploadAll()" ng-disabled="!uploader.getNotUploadedItems().length||!appCreated">
                    <span class="glyphicon glyphicon-upload"></span><span class="title" translate>UPLOADALL</span> </button>
                <button type="button" class="btn btn-warning btn-s" ng-click="uploader.cancelAll()" ng-disabled="!uploader.isUploading">
                    <span class="glyphicon glyphicon-ban-circle"></span> <span class="title" translate>CANCELALL</span></button>
                    <button type="button" class="btn btn-danger btn-s" ng-click="removeAll() " ng-disabled="!uploader.queue.length">
                    <span class="glyphicon glyphicon-trash"></span> <span class="title" translate>REMOVEALL</span> </button>
                </div>
        </div>
        </div>
        <!-- END: ACCORDION DEMO -->
    </div>
    
</div>
<div class="modal fade " id="myModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content alert alert-warning">
      <div class="modal-header">
        <h4 class="modal-title bold"><span class="title" translate>REMOVEALL</span></h4>
      </div>
      <div class="modal-body bold"><span class="title" translate>REMOVEALL</span>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal"><span class="title" translate>CLOSE</span></button>
        <button type="button" class="btn btn-primary" id="confirmBtn"><span class="title" translate>DELETE</span></button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!-- END MAIN CONTENT -->
<!-- BEGIN MAIN JS-->
<script>
    function FileUploadCtrl($rootScope, $scope, $state, $cookies, $translate, FileUploader){
        
        var appData, appID, toasts = {};
        if($cookies.get("appData")) {
            appData = JSON.parse($cookies.get("appData"));
            appID = appData.appID;
            $scope.appCreated = true; 
        }else $translate("WARNING_NOAPP").then(function(translation){
            toastr.warning(translation);                            //"You need to create an application to upload files!"
        });
        
        var uploader = $scope.uploader = new FileUploader({
            url: 'php/upload.php?appID='+appID,
            removeAfterUpload: true
        }); 
        // FILTERS
        uploader.filters.push({
            name: 'quequeLimit',
            message: "WARNING_FILES", //"Maximum 10 files",
            fn: function(item  , options){
                return this.queue.length < 10;
            }
        });                     //uploader.queueLimit = 10;
        uploader.filters.push({
            name: 'pdfFilter',
            message: "WARNING_FILE",  // "Not a pdf file",
            fn: function(item /*{File|FileLikeObject}*/, options){
                return item.type == "application/pdf";
            }
        });
        uploader.filters.push({
            name: 'sizeLimit',
            message: "WARNING_SIZE", //"Maximum file size 6mb",
            fn: function(item, options){
                return item.size < 6000000;
            }
        });
        uploader.filters.push({
            name: 'duplicateValidate',
            message: "WARNING_DUPLICATE",  //"Duplicate file",
            fn: function(item, options){
                if(!uploader.queue.length) return true;
                var valid=1;
                $.each(uploader.queue, function(index, value){                                          
                    if( value.file.name == item.name) valid =0;
                });                            
                return valid;
            }
        });
        /*uploader.filters.push({
            name: "uploadedCheck",
            message: "WARNING_LOADED",//"Already uploaded",
            fn: function(item, options){
                if($rootScope.uploadFiles.length<=1) return true;
                var valid = 1, upFiles = $rootScope.uploadFiles; 
                for(var i=1; i<upFiles.length; i++){
                    if(upFiles[i].text===item.name ) {
                        valid =0;
                    }
                }
                return valid;
            }
        });*/
        
        // CALLBACKS
        uploader.onWhenAddingFileFailed = function(item /*{File|FileLikeObject}*/ , filter, options){
            $translate(filter.message).then(function(translation){
                toastr.warning(item.name+" loading failed", translation);                            //"You need to create an application to upload files!"
            });
            //toastr.warning(item.name+" loading failed", filter.message);
        };
        uploader.onAfterAddingFile = function(fileItem){                       // console.log(uploader.queue);
            var upFiles = $rootScope.uploadFiles;
            if(upFiles.length>1){                                               
                for(var i=1; i<upFiles.length; i++){
                    var fileName = fileItem.file.name; 
                    if(upFiles[i].text===fileName ){  
                       
                        var warning = ["WARNING_EXISTS", "REPLACE"];
                        $translate(warning).then(function(translations){                            //console.log(translations);
                            toasts[fileName] = toastr.warning(fileName + translations.WARNING_EXISTS, translations.REPLACE,
                            { "closeButton": true,"newestOnTop": true,"timeOut": 0,"extendedTimeOut": 0,"showEasing": "swing","hideEasing": "linear","showMethod": "fadeIn","positionClass": "toast-top-right",
                            "hideMethod": "fadeOut","tapToDismiss": false, "onShown": function(){}});
                        });
                        
                    }
                }
            }
            //if(removeFile($rootScope.uploadFiles, fileItem, 0)) fileItem.remove();  
        };
       
        uploader.onCompleteItem = function(fileItem, res, status, headers){
            toastr.remove();
            if(res){                                                             
                //if(removeFile($rootScope.uploadFiles, fileItem, 0)) {fileItem.remove(); return; }            //to make sure that no duplicate file name
                var upFiles = $rootScope.uploadFiles;
                if(upFiles.length>1){                    //console.log(upFiles)                           
                    for(var i=1; i<upFiles.length; i++){ 
                        if(upFiles[i].text===res.filename ){                     
                            $translate("SUCCESS_REPLACED").then(function(translation){
                                toastr.success(res.filename + translation, translation);                            //"You need to create an application to upload files!"
                            });
                            //toastr.success(res.filename + "file replaced"); 
                            return;
                        }
                    }
                } 
                var treeNode = {'id': res.fid, 'parent': 'up1', 'text': res.filename, 'type': 'file', 'Description': 'File ID: '+res.fid, "path": res.path};
                upFiles.push(treeNode);                                                                              
            };
        };
        uploader.onCompleteAll = function(){
            //$cookies.putObject('uploadFiles': $rootScope.uploadFiles); //
            JsTree.refreshUploadTree($rootScope.uploadFiles);
            $scope.showHint = false;
        };
        
        //console.log('user data', $cookies.get('uploadFiles'));
        if(!$rootScope.uploadFiles){ 
            $scope.showHint = true; 
            JsTree.initUploadTree();
            $rootScope.uploadFiles = [{ "id" : "up1", "parent" : "#", "text" : "uploaded Files", 'type': 'root', "Description": "Uploaded files"}];
        }else{
            $scope.showHint = false;
            
            restoreUpfileNode($rootScope.subFiles)
            JsTree.initUploadTree($rootScope.uploadFiles);
            JsTree.setUpTreeBorder()
        }                                                                       // console.log('upload files',  $rootScope.uploadFiles)
       
        if(!$rootScope.subFiles){
            JsTree.initSubTree(fileTree);
        }else
            JsTree.initSubTree(fileTree.concat($rootScope.subFiles));               //console.log(tags);
        $scope.removeItem = function(item){                                                                    
            if(toasts[item.file.name]) { console.log(toasts[item.file.name]);
                toastr.clear(toasts[item.file.name]); 
                delete toasts[item.file.name];
            }
            item.remove();
        };
        $scope.removeAll = function(){
            uploader.clearQueue(); 
            toastr.remove();
        };
        $scope.savetree = function(){
            if(!appID){ 
                $translate("WARNING_NOAPP").then(function(translation){
                    toastr.warning(translation);                            //"You need to create an application to upload/SAVE files!"
                });
                return;
            }
            var json = JsTree.get_fileJson();
            if(json){
                $rootScope.subFiles = json;                                     
                $translate("INFO_WAIT").then(function(translation){
                    toastr.info(translation, "Please be patient", {"timeOut": 50000, "closeButton": true});                            //"You need to create an application to upload files!"
                });
                //toastr.info("It may take a minute or two to save the ECTD structure files.", "Please be patient");
               
                App.blockUI({
                    target: $("#FileUploadCtrl"),
                    message: " Load ...",
                    //animate: true,
                    overlayColor: "#999"//'#d9534f'
                });
                $.post('php/savestructure.php', {'appData': JSON.stringify(json), "appID": appID}, function(result){
                     if(result){
                        toastr.remove();
                       
                        //toastr.success(result);
                        App.unblockUI($("#FileUploadCtrl"));
                        $state.go("editinfo").then(function() {
                            //toastr.success("Stucture save in app ID: "+appID);
                        });
                     }
                 });
                
            }else { 
                $translate("NO_FILE").then(function(translation){
                    toastr.warning(translation);
                });
                //toastr.warning("There is no file to save"); 
                return; 
            }
        };
        /*$scope.canceltree = function(){
            //$translate("WARNING_REMOVE").then(function(translation){
            //        toastr.warning(translation);                            //"REMOVE ALL ADDED FILE!"
            //});
            JsTree.showWarningModal("Remove Nodes", "Are you sure to remove added nodes ?", " Remove", function(){
                $rootScope.subFiles = []; 
                JsTree.refreshSubTree(fileTree.concat(tags));
                restoreUpfileNode();
                JsTree.refreshUploadTree($rootScope.uploadFiles);
            });
        };*/
        /*$scope.removeQueue = function(queue){                                   //console.log(queue[0].file.name)
            var removed = false; 
            if($rootScope.uploadFiles.length>1)
                $.each(queue, function(index, value){                           //console.log(value);
                    removed = removeFile($rootScope.uploadFiles, value, 1); 
                })  
   
            uploader.clearQueue();                                                  
            if(removed) JsTree.refreshUploadTree($rootScope.uploadFiles);        //if any node reomved, refresh tree
        }
        $scope.removeUpFile = function(item){
            if(removeFile($rootScope.uploadFiles, item, 1)){ 
                JsTree.refreshUploadTree($rootScope.uploadFiles);
                item.remove();
            }
        };
         function removeFile(upFiles, fileItem, op){
            //var upFiles = $rootScope.uploadFiles;
            if(upFiles.length>1){                                               
              for(var i=1; i<upFiles.length; i++){
                if(upFiles[i].text===fileItem.file.name ){
                    if(op && upFiles[i].state.hidden){
                        toastr.warning(fileItem.file.name+" has been placed in eCTD. It can't be removed"); 
                        return false;
                    }
                    if(op) {
                        upFiles.splice(i, 1);
                        toastr.warning(fileItem.file.name + ' removed !');
                    }else
                        toastr.warning(fileItem.file.name + ' already uploaded !'); 
                    //fileItem.remove();
                    return true;
                }
              }
          }                                                                      //console.log('upload files:',$rootScope.uploadFiles);
          return false;
        }*/
        
        if(!$rootScope.open) $rootScope.open = false;
        $scope.toggleTree = function(){
            JsTree.toggle($rootScope.open);
            $rootScope.open = ! $rootScope.open; 
        };
        
        $scope.hideUpfileNode = function(id){                                     
            getUpfileNodeById(id).state =  { "hidden" : true };                                                                    
        };
        $scope.deleteFileNode = function(id){
            var node = getUpfileNodeById(id);   
            $rootScope.uploadFiles.splice( $.inArray(node, $rootScope.uploadFiles), 1 );                                                //console.log($scope.uploadFiles);
        }
        $scope.showUpfileNode = function(id){
            var node = getUpfileNodeById(id); 
            node.state =  { "hidden" : false };
        };
        $scope.duplicateNode = function(obj){
            var newID = obj.id + "_" + Math.ceil(Math.random()*100000);
            var treeNode = {'id': newID, 'parent': 'up1', 'text': obj.text, 'type': 'file', 'Description': 'File ID: '+newID, "path": obj.original.path};
            $rootScope.uploadFiles.push(treeNode);
            JsTree.refreshUploadTree($rootScope.uploadFiles);
        }
        function getUpfileNodeById(id){
            var upFiles = $rootScope.uploadFiles;
            if(upFiles.length>1){                                               
              for(var i=1; i<upFiles.length; i++){
                if(upFiles[i].id==id){       return upFiles[i];                                      
                   // upFiles[i].state =  { "hidden" : true };
                }
              }
            } 
            return false;
        }
        function restoreUpfileNode(subFiles){                                   
            var upFiles = $rootScope.uploadFiles;                               //console.log('subFiles ',subFiles); console.log('upfiles ', upFiles)
            if(upFiles.length>1){ 

                for(var i=1; i<upFiles.length; i++){
                        upFiles[i].state = { "hidden" : false };
                 }
                if(subFiles && subFiles.length>=1){
                    for(var i=1; i<upFiles.length; i++){                             
                        for(var j=0; j<subFiles.length; j++){
                            if(upFiles[i].id==subFiles[j].id)  {                //console.log('upid: ', upFiles[i].id);               
                                upFiles[i].state = { "hidden" : true };
                            }  
                        }
                    }
                }     
            } 
        }
        $scope.translateMsg = function(msg){
            $translate(msg).then(function(translation){
                toastr.warning(translation);
            });
        }
    };
    
</script>
<script src="dist/jsECTDtree.js"></script>
<script>
    var JsTree = function (){
        function resetTagNode(node, tree){     
            tree.set_icon(node.id, "fa fa-file-o");
            delete node.original.name;
            delete node.original.fileId; 
        }
        function setTagNode(node, name, fileId, tree){
            tree.set_icon(node.id, "glyphicon glyphicon-file");
            node.original.name = name;
            node.original.fileId= fileId;        
        }
        function dblclickEventHandler(event){
            var nodeId = $(event.target).closest("li")[0].id;
            var node = $('#uploadFileTree').jstree(true).get_node(nodeId);          
           
            if(node&&node.original.path) window.open(node.original.path,'newWin', 'width=600, height=800, top=100, left='+$("div.upload-queue").offset().left);
        }
        function subtreeMenu(node) {
            var items = {
                'create':{  //create new node
                    'label': 'create',
                    'action': function(data){
                        var inst = $.jstree.reference(data.reference), obj = inst.get_node(data.reference);
                        inst.create_node(obj, {"text": "new_folder", "type": "folder"}, "last", function (new_node) { //console.log("new node", new_node)
				try {
                                    inst.edit(new_node);
				} catch (ex) {
                                    setTimeout(function () { inst.edit(new_node); },0);
				}
			});
                    }
                },
                'rename': { // The "rename" menu item
                    'label': "Rename",
                    'action': function (data) {                                                  
                            var inst = $.jstree.reference(data.reference),
                            obj = inst.get_node(data.reference);                                        //console.log('rename obj', obj);
                            if(obj.type!="file" && obj.type!="folder"){ 
                                angular.element("#FileUploadCtrl").scope().translateMsg("WARNING_RENAME");
                                //toastr.warning(msg); //{{'Name' | translate}}                            //"CAN NOT RENAME ECTD STRUCTUR FOLDER!" 
                                return;
                            }
                            
                            if(obj.text.indexOf('.pdf')>0) {
                                var default_text = obj.text.substr(0, obj.text.indexOf('.pdf'))
                                inst.edit(obj, default_text, function(){                          //console.log('text: ', obj.text);
                                    if(obj.text.match(/\s/g)){                                       // does not work
                                        angular.element("#FileUploadCtrl").scope().translateMsg("WARNING_SPACE");
                                        //toastr.warning("File name can't contain space!!!");
                                        $('#jsECTDtree').jstree(true).set_text(obj, default_text+".pdf");
                                    }else 
                                        $('#jsECTDtree').jstree(true).set_text(obj, obj.text+'.pdf');
                                }); 
                            }else{
                                inst.edit(obj, obj.text, function(){                                   // console.log('text: ', obj.text);
                                    $('#jsECTDtree').jstree(true).set_text(obj, obj.text);
                                });
                            }
                    }
                },
                "duplicate": {
                    "label": "Duplicate",
                    "action": function(data){
                         var inst = $.jstree.reference(data.reference),
                            obj = inst.get_node(data.reference); 
                        if(obj.type == "file"){    // not yet finished
                            angular.element("#FileUploadCtrl").scope().duplicateNode(obj);
                        }
                    }
                },
                'remove': { // The "delete" menu item
                    'label': "Delete",
                    'action': function (data) { //console.log(data);
                        var inst = $.jstree.reference(data.reference),
                            obj = inst.get_node(data.reference);                            //console.log(obj);
                        if(obj.type!="file" && obj.type!="folder"){
                                angular.element("#FileUploadCtrl").scope().translateMsg("WARNING_DELETE");
                                //toastr.warning("Can not delete eCTD structure folder!!!");
                                return;
                            }
			if(inst.is_selected(obj)) {
				inst.delete_node(inst.get_selected());
			}else {
                            inst.delete_node(obj);
			}
                    }
                }
            };

            return items;
        }
        function uptreeMenu(node) {
            var items = {
                "duplicate": {
                    "label": "Duplicate",
                    "action": function(data){
                        var inst = $.jstree.reference(data.reference),
                            obj = inst.get_node(data.reference); 
                        if(obj.type == "file"){                                     // not yet finished
                           angular.element("#FileUploadCtrl").scope().duplicateNode(obj);
                        }
                    }
                },
                'remove': { // The "delete" menu item
                    'label': "Delete",
                    'action': function (data) { 
                         var inst = $.jstree.reference(data.reference),
                            obj = inst.get_node(data.reference); 
                        JsTree.showWarningModal("Delete Item", "Are you sure to delete the item ?", "Delete", function(){
                            $('#uploadFileTree').jstree(true).hide_node(obj.id);                        //console.log( data);
                            angular.element("#FileUploadCtrl").scope().deleteFileNode(obj.id);
                        });         
                    }
                }
            };

            return items;
        }
        return {
            initSubTree: function(json){
                var jsECTDtree; 
                $('#jsECTDtree').css("height", $(window).height()-250).jstree({
                    "core" : {
                        //"animation" : 0,
                        "check_callback" : function(op, node, node_parent, node_position, more) {
                            if(op=="move_node" && node.type!=="file"){
                                return false;
                            }
                            return true;
                        },
                        "themes" : { "stripes" : true },
                        "data" : json
                    },
                    "types" : { "#" : {"max_children" : 8, "max_depth" :8, "valid_children" : ["root"]},
                        "root" : { "icon" : "assets/tree_icon.png","valid_children" : ["default"]},
                        "default" : {"valid_children" : ["folder", "tag", "file"]},
                        "folder": {"valid_children" : ["folder","file"]},
                        "tag": {"icon" : "fa fa-file-o", "valid_children" : ["file"]},
                        "file" : { "icon" : "glyphicon glyphicon-file", "valid_children" : []} 
                    },
                    "plugins" : ["contextmenu", "dnd", "types", "state"],
                    'contextmenu' : {
                        'items' : subtreeMenu, select_node : true
                    }
                    
                }).bind("loaded.jstree", function (event, data) {
                    //$(this).css("height", $(window).height()-250);
                    jsECTDtree = $('#jsECTDtree').jstree(true);
                    App.initSlimScroll("#jsECTDtree");
                    
                }).bind("dblclick.jstree", function(event){
                    dblclickEventHandler(event);
                }).bind("hover_node.jstree", function(event, data){
                    $("#"+data.node.id).prop("title", data.node.text );
                    
                }).on('copy_node.jstree', function (e, data) { 
                    
                    var parentNode = jsECTDtree.get_node(data.parent);           
                    if(parentNode.type=="tag"){                              //One files only
                        if(parentNode.children.length>1){
                            jsECTDtree.delete_node(data.node.id);
                            $('#uploadFileTree').jstree(true).show_node(data.node.id);
                            angular.element("#FileUploadCtrl").scope().showUpfileNode(data.node.id);
                            toastr.warning("One tag can't contain two files!"); 
                            return;
                        }
                        setTagNode(parentNode, data.node.text, data.original.id, jsECTDtree);                                   //console.log(parentNode);                                  
                    }
                    jsECTDtree.open_node(parentNode.id);                                             
                    jsECTDtree.set_id(data.node, data.original.id);                                       // to keep original file id
                    $('#uploadFileTree').jstree(true).hide_node(data.original.id);                        //console.log( 'path', data.original.original.path);
                    
                    angular.element("#FileUploadCtrl").scope().hideUpfileNode(data.original.id);
                    
                }).on('delete_node.jstree', function(e, data){                     
                    var node = data.node; 
                    if(node.children_d.length>0){                                                   // if deleted node has child nodes - file node does not contain child node
                            var childNodes = node.children_d;
                            for(var i=0; i<childNodes.length; i++) 
                                $('#uploadFileTree').jstree(true).show_node(childNodes[i]);
                    }else{
                        
                        var parentNode = jsECTDtree.get_node(data.parent);           
                        if(parentNode.type=="tag" && parentNode.children.length==0){                 //check if its parent is tag
                            resetTagNode(parentNode, jsECTDtree);
                        }                                                                                               //console.log(parentNode);
                        
                        $('#uploadFileTree').jstree(true).show_node(data.node.id);
                        angular.element("#FileUploadCtrl").scope().showUpfileNode(data.node.id);
                    }  
                }).on('move_node.jstree', function (e, data) {  
                    
                    var parentNode = jsECTDtree.get_node(data.parent), old_parentNode = jsECTDtree.get_node(data.old_parent);;
                    if(parentNode.type=="tag"){ 
                        if(parentNode.children.length>1){
                            toastr.warning("One tag can't contain two files!");
                            jsECTDtree.move_node(data.node, data.old_parent);
                            if(old_parentNode.type=="tag") jsECTDtree.set_icon(old_parentNode.id, "glyphicon glyphicon-file");
                            jsECTDtree.set_icon(parentNode.id, "glyphicon glyphicon-file");
                            return;
                        }                                                               //console.log(data);
                        setTagNode(parentNode, data.node.text, data.node.id, jsECTDtree); 
                    }
 
                    if(old_parentNode.type=="tag"){ 
                        resetTagNode(old_parentNode, jsECTDtree);
                    }
                    
                    jsECTDtree.open_node(data.parent);
                    
                }).on('open_node.jstree', function (event, data) { 
                });
            },
            initUploadTree: function(fileJson){
                $('#uploadFileTree').jstree({
                    "core" : {
                        //"animation" : 0,
                        "check_callback" : false,
                        "themes" : { "stripes" : true },
                    "data" : fileJson
                    },
                    "types" : { "#" : { "valid_children" : ["root"]},
                        "root" : { "icon" : "assets/tree_icon.png","valid_children" : ["file"] },
                        "file" : { "icon" : "glyphicon glyphicon-file", "valid_children" : []} 
                    },
                    "plugins" : ["contextmenu", "dnd", "types", "state"],
                    'contextmenu' : {
                        'items' : uptreeMenu, select_node : true
                    }
                }).bind("loaded.jstree", function (event, data) {
                    //$(this).jstree("open_all");
                }).bind("hover_node.jstree", function(event, data){
                    $("#"+data.node.id).prop("title",data.node.original.Description );//console.log(data.node.original.Description) 
                }).on('changed.jstree', function (e, data) { 
                    $(this).jstree().open_node('up1');
                }).bind("dblclick.jstree", function(event){
                    dblclickEventHandler(event);
                });
            },
            setUpTreeBorder(){
                $('#uploadFileTree').css("border-top", "solid 1px #999");
            },
            refreshUploadTree: function(fileJson){
                $('#uploadFileTree').css("border-top", "solid 1px #999").jstree(true).settings.core.data = fileJson;
                $('#uploadFileTree').jstree(true).refresh();
            } ,
            /*refreshSubTree: function(fileJson){
                $('#jsECTDtree').jstree(true).settings.core.data = fileJson;
                $('#jsECTDtree').jstree(true).refresh();
            },*/
            get_fileJson: function(){
                var json = $('#jsECTDtree').jstree(true).get_json('#', {flat:true});
                var fileArray=[];
                for(var i=0; i<json.length; i++){
                    if(json[i].type==="file" || json[i].type ==="folder"){ 
                        json[i].original = $('#jsECTDtree').jstree(true).get_node(json[i].id).original; 
                        if($('#uploadFileTree').jstree(true).get_node(json[i].id)){ 
                            json[i].name = $('#uploadFileTree').jstree(true).get_node(json[i].id).original.path;            
                                                                                            //console.log(json[i]);
                        }
                        fileArray.push(json[i]);
                    }
                }
                if(fileArray.length>0) return fileArray;
                else return false;
            },
            toggle: function(open){
                if (open)
                    $('#jsECTDtree').jstree(true).close_node(["m1", "m2", "m3", "m4", "m5"]); 
                else
                    //$('#jsECTDtree').jstree("open_all");
                    JsTree.openChildren("sub1");

            }, 
            showWarningModal: function(title, body, btn, callback){
                //$("#myModal").find(".modal-title").html(title);
                //$("#myModal").find(".modal-body").html(body);
                $("#myModal").modal(); 
                $("#myModal").find("#confirmBtn").click(function(e){
                    $("#myModal").modal("hide");
                    callback(); 
                });
            },
            openChildren: function(id){
                var node = $('#jsECTDtree').jstree(true).get_node(id);          //console.log(node);
                var children = node.children; 
                if(children.length==0) return;
                
                for(var i =0; i<children.length; i++){
                    var childNode = $('#jsECTDtree').jstree(true).get_node(children[i]);
                    if (!node.state.opened && childNode.type!=="tag" &&childNode.type!=="file") $('#jsECTDtree').jstree(true).open_node(id) 
                    if(childNode.children.length>1) JsTree.openChildren(children[i]);
                }

            }
        }   
    }(); 
</script>
<script>
    var tags = [ { "id" : "m11.1", "parent" : "m11", "text" : "1.1.1 FDA 1571: Investigational New Drug Application (IND)", "sNumber": "1.1.1", "type": "tag"},
        { "id" : "m11.2", "parent" : "m11", "text" : "1.1.2 FDA 365h: Application to Market a New Drug, Biologic, or an antibiotic Drug for Human Use", "sNumber": "1.1.2", "type": "tag"},
        { "id" : "m11.3", "parent" : "m11", "text" : "1.1.3 FDA 3397: User Fee Cover Sheet", "sNumber": "1.1.3", "type": "tag"},
        { "id" : "m11.4", "parent" : "m11", "text" : "1.1.4 FDA 2252: Transmittal of Annual Reports for Drugs and Biologics for Human Use", "sNumber": "1.1.4", "type": "tag"},       
        { "id" : "m11.5", "parent" : "m11", "text" : "1.1.5 FDA 2253: Transmittal of Advertisements and Promotional Labeling for Drugs and Biologics for Human Use", "sNumber": "1.1.5", "type": "tag"},
        { "id" : "m11.6", "parent" : "m11", "text" : "1.1.6 FDA 2567: Transmittal of Labels and Circulars", "sNumber": "1.1.6", "type": "tag"},
        { "id" : "m11.7", "parent" : "m11", "text" : "1.1.7 FDA 3674: Certification of Compliance", "sNumber": "1.1.7", "type": "tag"},
        { "id" : "m11.8", "parent" : "m11", "text" : "1.1.8 FDA 3792: Biosimilar User Fee Cover Sheet(BsUFA)", "sNumber": "1.1.8", "type": "tag"},
        { "id" : "m11.9", "parent" : "m11", "text" : "1.1.9 FDA 3794: Generic Drug User Fee Cover Sheet(GDUFA)", "sNumber": "1.1.9", "type": "tag"},
    
        /* end of  1.1 Forms   - add . to id to differenciate m1.12 and 1.14*/
        
        { "id" : "m23S1", "parent" : "m23S", "text" : "2.3.S.1 General Information", "sNumber": "2.3.S.1", "type": "tag"},
        { "id" : "m23S2", "parent" : "m23S", "text" : "2.3.S.2 Manufacture","sNumber": "2.3.S.2", "type": "tag"},
        { "id" : "m23S3", "parent" : "m23S", "text" : "2.3.S.3 Characterisation","sNumber": "2.3.S.3", "type": "tag"},
        { "id" : "m23S4", "parent" : "m23S", "text" : "2.3.S.4 Control of Drug Substance",  "sNumber": "2.3.S.4", "type": "tag"},
        { "id" : "m23S5", "parent" : "m23S", "text" : "2.3.S.5 Reference Standards or Materials",  "sNumber": "2.3.S.5", "type": "tag"},
        { "id" : "m23S6", "parent" : "m23S", "text" : "2.3.S.6 Container Closure System", "sNumber": "2.3.S.6", "type": "tag"},
        { "id" : "m23S7", "parent" : "m23S", "text" : "2.3.S.7 Stability", "sNumber": "2.3.S.7", "type": "tag"},               
        /* end of  2.3.S drug substance*/
        { "id" : "m23P1", "parent" : "m23P", "text" : "2.3.P.1 Description and Composition of the Drug Product", "sNumber": "2.3.P.1", "type": "tag"},
        { "id" : "m23P2", "parent" : "m23P", "text" : "2.3.P.2 Pharmaceutical Development", "sNumber": "2.3.P.2", "type": "tag"},
        { "id" : "m23P3", "parent" : "m23P", "text" : "2.3.P.3 Manufacture", "sNumber": "2.3.P.3", "type": "tag"},
        { "id" : "m23P4", "parent" : "m23P", "text" : "2.3.P.4 Copntrol of Excipients", "sNumber": "2.3.P.4", "type": "tag"},
        { "id" : "m23P5", "parent" : "m23P", "text" : "2.3.P.5 Control of Drug Product", "sNumber": "2.3.P.5", "type": "tag"},
        { "id" : "m23P6", "parent" : "m23P", "text" : "2.3.P.6 Reference Standards or Materials", "sNumber": "2.3.P.6", "type": "tag"},
        { "id" : "m23P7", "parent" : "m23P", "text" : "2.3.P.7 Container Closure System", "sNumber": "2.3.P.7", "type": "tag"},
        { "id" : "m23P8", "parent" : "m23P", "text" : "2.3.P.8 Stability", "sNumber": "2.3.P.8", "type": "tag"}
        /* end of  2.3.S drug product*/
    ];
</script>