<div class="login-page">
    <div class="company_logo">
        <img class="login-logo" src="assets/ectd.png" />
    </div>

    <div class="login-content">
        <h2>
            <span translate>LOGINTO</span>&nbsp;
            <span class="title bold" translate>SYSTEM
                <span>
        </h2>
        <form action="javascript:;" class="login-form" ng-submit="signin();">
            <div class="alert alert-danger display-hide">
                <button class="close" data-close="alert"></button>
                <span>Enter any username and password. </span>
            </div>
            <div class="row">
                <input class="form-control form-group" id="input-name" ng-keyup="$event.keyCode == 13 && signin();" type="text" autocomplete="off"
                    ng-model="user.name" placeholder="Username" name="name" required/>
            </div>
            <div class="row" style='margin-bottom: -10px;'>
                <input class="form-control form-group" id="input-pass" ng-keyup="$event.keyCode == 13 && signin();" type="password" autocomplete="off"
                    ng-model="user.password" placeholder="Password" name="password" required/>
            </div>
            <div class="row">
                <div class="register" style="float: left">
                    <a ui-sref="register" id="register" class="register">
                        <span translate>REGISTER</span>
                    </a>
                </div>
                <div class="forgot-password" style="float: right;">
                    <a href="javascript:;" id="forget-password" class="forget-password" ng-click="">
                        <span translate>FORGOTPW</span>
                    </a>
                </div>
            </div>
            <div class="row" style="margin-top: 20px;">
                <div style="float: left;">
                    <button type="submit" class="btn blue">
                        <span translate>LOGIN</span>
                    </button>
                </div>
                <div style="float: right;">
                    <button type="button" class="btn blue" ng-click="cancel()">
                        <span translate>CANCEL</span>
                    </button>
                </div>
            </div>

        </form>

    </div>


</div>