<style>
    
</style>
<!-- BEGIN PAGE HEADER-->
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <a ui-sref="dashboard"><span class="title" translate>HOME</span></a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <a><span class="title" translate>PUBLISH</span></a>
        </li>
    </ul> 
</div>
<!-- <h3 class="page-title"> Edit File</h3>
END PAGE HEADER-->
<!-- BEGIN MAIN CONTENT -->
<!--<div class="note note-success">
    <h3>
        <span class="label label-danger">Edit Admin info and STF</span>
    </h3>
</div>-->
<div class="row" ng-controller="PublishTreeCtrl" id="PublishTreeCtrl" ng-init="inprocess = false">
    <div class="leftPanel col-md-4"> 
        <div class="portlet light bordered jstree-portlet">
            <div class="portlet-title">
                <div class="caption font-green-sharp">
                    <!--<i class="icon-settings font-green-sharp"></i>-->
                    <span class="caption-subject bold uppercase">Application</span>
                    <a class="btn-circle" ng-click="toggleTree()">
                        <i class="fa fa-caret-up" title="close file tree" ng-show="open"></i>
                        <i class="fa fa-caret-down" title="open file tree" ng-hide="open"></i>
                    </a>
                </div>
                <div class="actions">
                    <!--<a class="btn btn-sm green" ng-click="togglePortlet()" ng-hide="tagEdit"><span class="title" translate>EDITTAG</span></a>-->
                   <a class="btn btn-square btn-default btn-sm" href="#" id="expandTree">
                        <i class="fa fa-exchange" aria-hidden="true"></i></a>     
                </div>
            </div>
            <div class="portlet-body"><div id="jsECTDtree" class="scroller"> </div>
            </div>
        </div>
       
    </div>
    <div class="rightPanel col-md-8">
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption font-green-sharp">
                    <i class="icon-settings font-green-sharp"></i>
                    <span class="caption-subject bold uppercase"><span class="title" translate>PUBLISH</span></span>
                </div>

                <div class="actions">
                </div>
            </div>
            <div class="portlet-body">
                 <div>
                    <!-- <button class="btn btn-sm green" href="#" id="validate-btn" ng-click="validateApp()" ng-disabled="inprocess"><span class="title" translate>VALIDATE</span></button> -->
                    <button class="btn btn-sm green" href="#" id="download-btn" ng-click="downloadApp()" ng-disabled="inprocess"><span class="title" translate>PUBLISH</span></button>
                </div>
            </div>
            <div class="portlet-footer">
               
            </div>
        </div>
    </div>
    
</div>
<!-- END MAIN CONTENT -->
<!-- BEGIN MAIN JS-->

<script>
    function Jstree(id, height){
        Filetree.call(this, id, height);
        this.ctrlId = "#PublishTreeCtrl";
    }
    Jstree.prototype = {
        constructor: Jstree,
        setExpandTreeListener: function(){
            $("#expandTree").click(function (e){
                e.preventDefault();
                var leftPanel = $(".leftPanel");
                var rightPanel = $(".rightPanel");
                if(leftPanel.hasClass("col-md-4")){
                    leftPanel.removeClass("col-md-4").addClass("col-md-6");
                    rightPanel.removeClass("col-md-8").addClass("col-md-6");
                    rightPanel.find("#TagCtrl").css({"width": "100%"});
                }else {
                    leftPanel.removeClass("col-md-6").addClass("col-md-4");
                    rightPanel.removeClass("col-md-6").addClass("col-md-8");
                    rightPanel.find("#TagCtrl").css({"width": "60%"});
                }
            });
            return this;
        },
        validateTree: function(subFiles){
            var _this = this;

            /*var _downloadBtn = $("#download-btn"), _validateBtn = $("#validate-btn"), progressbar;
            _validateBtn.fadeOut(300);
            _downloadBtn.fadeOut(300, function () {
                progressbar = $('<div class="load-process">Validating...</div>')
                    .css({ "width": "5%", "height": 2, "background": "#ff0000", "margin-bottom": "25px" }).appendTo(_downloadBtn.parents(".portlet-body"));
            });*/
            $.each(subFiles, function(index, value){                //console.log(value);
                var node = _this.tree.jstree().get_node(value.id), parentNode;
                var nodeArray = ["m1", "m12", "m2", "m3", "m4", "m5"];
                
                if(value.id!=="sub1"){                                                         // to make sure every node has parentNode
                    parentNode = _this.tree.jstree().get_node(value.parent);
                    if(!parentNode) _this._writeMsg(value.id, " is lost");
                } 
                
                if($.inArray(value.id, nodeArray)>=0) {                                               // to check if m1-5 folders contains files 
                    if(node.text.indexOf("<b>")<0) _this._writeMsg(value.text, " does not contain files");                      //console.log(value.id +"does contain files");
                }else if($.inArray(value.id, ["m32P", "m32S", "m23S", "m23P"])>=0){                         // to check product and substance tag 
                    angular.element(JsTree.ctrlId).scope().validateTag(node.id).then(function(result){
                         if(!result || !result.id) _this._writeMsg(node.id, " does not have tag file");
                     });
                }else if(node.type==="file" && (node.parents.indexOf("m4")>=0||node.parents.indexOf("m5")>=0)){   // to check study file has tag
                     angular.element(JsTree.ctrlId).scope().validateTag(node.id).then(function(result){
                         if(!result || !result.id) _this._writeMsg(node.text, " does not have tag file");
                     });
                }
                if(node.type != "tag" && (/[A-Z]/.test(value.name))){                                 // to check if folder or files contain upperletter
                    _this._writeMsg(value.name, " contains upper letter");
                }
                    
            });
            this._setFooterHeight();

        },
        checkfile: function(path, callback){
            var _this = this;
            $.ajax({
                url:Base_URL+path,
                success: function (data) {
                    //console.log(fileName, 'exists');
                },
                error: function (data) {
                    callback();
                    //_this._writeMsg(fileName, 'does not exist');
                }
            });
        },
        downloadTree: function(appId, appNumber, userData){
            var _this = this;
            App.blockUI({
                        target: $("body"),
                        message: " Downloading ...",
                        animate: true,
                        overlayColor: "#999", //'#d9534f',
                        zIndex: 10000
                    });

            var _downloadBtn = $("#download-btn"), _validateBtn = $("#validate-btn"), progressbar, intevervalID;
            _validateBtn.hide();
            _downloadBtn.hide();
            (function () {
                progressbar = $('<div><div class="load-process"></div><div class="load-text">Composing zip folder: 1%</div></div>')
                    .appendTo(_downloadBtn.parents(".portlet-body"));
                $(".load-process").css({"width":'5%', "height": 2, "background": "#ff0000" }) ;
                var w = 3;
                intevervalID = setInterval(function(){
                $(".load-process").css({"width":(++w)+'%'});
                $(".load-text").html("Composing zip folder: {0}%".format(w));
                    if(w>=100) {clearInterval(intevervalID); }
                }, 3000);
               
            })();
            
            var url = `${Base_URL}/applications/${appId}/download/`;
            var xhr = new XMLHttpRequest();
            xhr.open('GET', url, true);
            xhr.setRequestHeader('Authorization', `JWT ${userData.token}`);
            xhr.responseType = 'blob';
            xhr.onprogress = function (e) {        //console.log (e);
                if (e.lengthComputable) {
                    var progress = e.loaded / e.total;
                    progressbar.show().find('.load-process').css("width", progress + "%");  
                    $("load-text").html("Downloading: {0}%".format(progress));                                                            //console.log(progress);
                }
            };
            xhr.onload = function (e) {
                if (this.status === 200) {                                          //console.log("zip file: ",this.response);
                    var blob = new Blob([this.response], { type: 'application/zip' }),
                        file = URL.createObjectURL(blob);

                    var link = document.createElement('a');
                    link.href = file;
                    var date = new Date();                                                                          
                    var m = date.getMonth() >=9 ? (date.getMonth()+1).toString() : "0" + (date.getMonth()+1);
                    var d = date.getDate() >=10 ? date.getDate().toString() : "0" + date.getDate(); 
                    var h = date.getHours() >=10? "h"+date.getHours() : "h0"+date.getHours();
                    var min = date.getMinutes>10? "m"+date.getMinutes(): "m0"+date.getMinutes();
                    var sDate= date.getFullYear().toString()+m+d+h+min;                            console.log(sDate);
                    link.download = "ectd_" + appNumber + "_" + sDate;
                    link.click();
                    
                    window.URL.revokeObjectURL(link.href);
                    _this.endProgressbar(_validateBtn, _downloadBtn, progressbar, intevervalID);
                    // clearInterval(intevervalID);
                    // progressbar.hide();
                    // _downloadBtn.show();
                    // _validateBtn.show();
                    // App.unblockUI($("body"));
                }else {                             
                    // App.unblockUI("body");
                    _this.endProgressbar(_validateBtn, _downloadBtn, progressbar, intevervalID);
                    _this._writeMsg("Error: ", this.status);
                }
            };
            xhr.send(null);
            return this; 
        },
        endProgressbar: function(validateBtn, downloadBtn, progressbar, intevervalID){
            clearInterval(intevervalID);
            progressbar.hide();
            downloadBtn.fadeIn();
            validateBtn.fadeIn();
            App.unblockUI($("body"));
        },
        /*_hideProgressbar: function(){
            var _downloadBtn = $("#download-btn"), _validateBtn = $("#validate-btn"), progressbar = $(".portlet-body div.load-process");
            console.log(progressbar.fadeOut());
            _downloadBtn.fadeIn();
            _validateBtn.fadeIn();
        },*/
        _writeMsg: function(nodeText, msg){
            var msgDiv = $('<div class="errorMsg"><span>'+nodeText+'</span><span style="color:red">&nbsp;'+msg+'</span></div>')
                    .css({"font-weight":"bold",  "width":"100%" }).appendTo($(".rightPanel .portlet-footer"));
        },
        _setFooterHeight: function(){
            var h = this.height - 30, footer = $(".rightPanel .portlet-footer") ;                     
            footer.css({"height": h});
            App.initSlimScroll(footer);
        }
    };
    Jstree.prototype.__proto__ = Filetree.prototype;
    //Jstree.prototype = Object.create(Filetree.prototype);
    var JsTree = new Jstree("#jsECTDtree", $(window).height()-250 );
    JsTree.setExpandTreeListener();

    String.prototype.format = function () {
        var formatted = this;
        for (var i = 0; i < arguments.length; i++) {
            var regexp = new RegExp('\\{' + i + '\\}', 'gi');
            formatted = formatted.replace(regexp, arguments[i]);
        }
        return formatted;
    };
</script>

