<!-- BEGIN PAGE HEADER-->
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <a ui-sref="dashboard"><span class="title" translate>HOME</span></a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <a><span class="title" translate>PUBLISH</span></a>
        </li>
    </ul> 
</div>
<!-- <h3 class="page-title"> Edit File</h3>
END PAGE HEADER-->
<!-- BEGIN MAIN CONTENT -->
<!--<div class="note note-success">
    <h3>
        <span class="label label-danger">Edit Admin info and STF</span>
    </h3>
</div>-->
<div class="row" ng-controller="PublishTreeCtrl" id="PublishTreeCtrl">
    <div class="leftPanel col-md-4"> 
        <div class="portlet light bordered jstree-portlet">
            <div class="portlet-title">
                <div class="caption font-green-sharp">
                    <!--<i class="icon-settings font-green-sharp"></i>-->
                    <span class="caption-subject bold uppercase">Application</span>
                    <a class="btn-circle" ng-click="toggleTree()">
                        <i class="fa fa-caret-up" title="close file tree" ng-show="open"></i>
                        <i class="fa fa-caret-down" title="open file tree" ng-hide="open"></i>
                    </a>
                </div>
                <div class="actions">
                    <!--<a class="btn btn-sm green" ng-click="togglePortlet()" ng-hide="tagEdit"><span class="title" translate>EDITTAG</span></a>-->
                   <a class="btn btn-square btn-default btn-sm" href="#" id="expandTree">
                        <i class="fa fa-exchange" aria-hidden="true"></i></a>     
                </div>
            </div>
            <div class="portlet-body"><div id="jsECTDtree" class="scroller"> </div>
            </div>
        </div>
       
    </div>
    <div class="rightPanel col-md-8">
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption font-green-sharp">
                    <i class="icon-settings font-green-sharp"></i>
                    <span class="caption-subject bold uppercase"><span class="title" translate>PUBLISH</span></span>
                </div>

                <div class="actions">
                </div>
            </div>
            <div class="portlet-body">
                 <div><a class="btn btn-sm green" href="#" id="validate-btn" ng-click="validateApp()"><span class="title" translate>VALIDATE</span></a>
                    <a class="btn btn-sm green" href="#" id="download-btn" ng-click="downloadApp()"><span class="title" translate>PUBLISH</span></a>
                </div>
            </div>
            <div class="portlet-footer">
               
            </div>
        </div>
    </div>
    
</div>
<!-- END MAIN CONTENT -->
<!-- BEGIN MAIN JS-->

<script>

    function PublishTreeCtrl($rootScope, $scope, CookiesApiService, ApplicationApiService, GenInfoApiService, TagApiService, ModalService){
        var appUid;                                                //console.log("user Data", CookiesApiService.GetCookies());
        if(CookiesApiService.GetCookies()){
            appUid = $rootScope.appData.appUid;
        }

        if(!$rootScope.subFiles || $rootScope.subFiles.length==0){
            ApplicationApiService.GetApplication(appUid, $rootScope.userData).then(function(result){     console.log("appData infopage", result);
                $rootScope.subFiles = result.nodeList;
                $scope.fileList = result.ectdFileList;
                //$rootScope.appData.NumOfFiles = result.nodeList.length;
                JsTree.initTree($rootScope.subFiles);                               //console.log('subFiles: ', $rootScope.subFiles);
            });
        }else{
            JsTree.initTree($rootScope.subFiles);                                   //console.log('subFiles: ', $rootScope.subFiles);
        }
        $scope.toggleTree = function(){
            JsTree.toggle($rootScope.open);
            $rootScope.open = ! $rootScope.open; // ? false : true;
        };
        $scope.getUserData = function(){
            return $rootScope.userData;
        };
        $scope.getAppUid = function(){
            return appUid;
        };
        $scope.downloadApp = function(){
            JsTree.downloadTree(appUid, $rootScope.userData);
        };
        $scope.validateApp = function(){
            JsTree.validateTree($rootScope.subFiles);
            GenInfoApiService.GetGenInfo(appUid, $rootScope.userData).then(function(result){        console.log("geninfo: ",result);
                if(!result || !result.id) JsTree._writeMsg("Application", " does not have general information");
            });
            GenInfoApiService.GetContacts(appUid, $rootScope.userData).then(function(result){        console.log("contact info: ", result);
                if(!result || !result.length) JsTree._writeMsg("Application", " does not have contact information");
            });
            angular.forEach($scope.fileList, function(value, index){                                //console.log(value);
                var fileLastState = value.ectdFileStateList[value.ectdFileStateList.length-1];
                if(fileLastState.type !="pdf") JsTree._writeMsg(value.name, " file type error");
                JsTree.checkfile(value.name, fileLastState.path); 
                if(fileLastState.action){
                    var actions = JSON.parse(fileLastState.action);
                    if(actions.linkOperations){
                        var links = actions.linkOperations;
                        for (var i=0; i<links.length; i++){
                            if(!links[0].tfid || !links[i].uri) JsTree._writeMsg(value.name, " no link URL");
                            if(!fileExits(links[0].uri)) JsTree._writeMsg(value.name, " link file no exits");
                        }
                    }
                }
            });
        };
        function fileExits(url){
            
            angular.forEach($scope.fileList, function(value, index){ 
                if(value.name == url) return true; 
            });
            return false;
        }

        $scope.validateTag = function(nodeId){
            return TagApiService.GetTagByNid(appUid, nodeId, $rootScope.userData);
        }
    
    }

    function Jstree(id, height){
        Filetree.call(this, id, height);
        this.ctrlId = "#PublishTreeCtrl";
    }
    Jstree.prototype = {
        constructor: Jstree,
        setExpandTreeListener: function(){
            $("#expandTree").click(function (e){
                e.preventDefault();
                var leftPanel = $(".leftPanel");
                var rightPanel = $(".rightPanel");
                if(leftPanel.hasClass("col-md-4")){
                    leftPanel.removeClass("col-md-4").addClass("col-md-6");
                    rightPanel.removeClass("col-md-8").addClass("col-md-6");
                    rightPanel.find("#TagCtrl").css({"width": "100%"});
                }else {
                    leftPanel.removeClass("col-md-6").addClass("col-md-4");
                    rightPanel.removeClass("col-md-6").addClass("col-md-8");
                    rightPanel.find("#TagCtrl").css({"width": "60%"});
                }
            });
            return this;
        },
        validateTree: function(subFiles){
            var _downloadBtn = $("#download-btn"), _validateBtn = $("#validate-btn"), progressbar;
            var _this = this;
            _validateBtn.fadeOut(300);
            _downloadBtn.fadeOut(300, function () {
                progressbar = $('<div class="load-process">Validating...</div>')
                    .css({ "width": "5%", "height": 2, "background": "#ff0000", "margin-bottom": "25px" }).appendTo(_downloadBtn.parents(".portlet-body"));
            });
            $.each(subFiles, function(index, value){                //console.log(value);
                var node = _this.tree.jstree().get_node(value.id), parentNode;
                var nodeArray = ["m1", "m12", "m2", "m3", "m4", "m5"];
                
                if(value.id!=="sub1"){
                    parentNode = _this.tree.jstree().get_node(value.parent);
                    if(!parentNode) _this._writeMsg(value.id, " is lost");
                } 
                if($.inArray(value.id, nodeArray)>=0) {
                    if(node.text.indexOf("<b>")<0) _this._writeMsg(value.text, " does not contain files");                      //console.log(value.id +"does contain files");
                }else if($.inArray(value.id, ["m32P", "m32S", "m23S", "m23P"])>=0){
                    angular.element(JsTree.ctrlId).scope().validateTag(node.id).then(function(result){
                         if(!result || !result.id) _this._writeMsg(node.id, " does not have tag file");
                     });
                }else if(node.type==="file" && (node.parents.indexOf("m4")>=0||node.parents.indexOf("m5")>=0)){
                     angular.element(JsTree.ctrlId).scope().validateTag(node.id).then(function(result){
                         if(!result || !result.id) _this._writeMsg(node.text, " does not have tag file");
                     });
                }
                if(node.type != "tag" && (/[A-Z]/.test(value.name))){
                    _this._writeMsg(value.name, " contains upper letter");
                }
                    
            });

        },
        checkfile: function(fileName, path){
            var _this = this;
            $.ajax({
                url:Base_URL+path,
                success: function (data) {
                    console.log(fileName, 'exists');
                },
                error: function (data) {
                    _this._writeMsg(fileName, 'does not exist');
                }
            });
        },
        downloadTree: function(appUid, userData){
            var _downloadBtn = $("#download-btn"), _validateBtn = $("#validate-btn"), progressbar;
            _validateBtn.fadeOut(300);
            _downloadBtn.fadeOut(300, function () {
                progressbar = $('<div class="load-process">Loading...</div>')
                    .css({ "width": "5%", "height": 2, "background": "#ff0000", "margin-bottom": "25px" }).appendTo(_downloadBtn.parents(".portlet-body"));
            });

            var url = Base_URL + "/a/application/file/getZipFilesByAppUid/" + appUid + "/?uid=" + userData.uid + "&apptoken=" + userData.access_token;
            var xhr = new XMLHttpRequest();
            xhr.open('GET', url, true);
            xhr.responseType = 'blob';
            xhr.onprogress = function (e) {        //console.log (e);
                if (e.lengthComputable) {
                    var progress = e.loaded / e.total;
                    progressbar.show().css("width", progress + "%");                                                              //console.log(progress);
                }
            };
            xhr.onload = function (e) {
                if (this.status === 200) {                                          //console.log("zip file: ",this.response);
                    var blob = new Blob([this.response], { type: 'application/zip' }),
                        file = URL.createObjectURL(blob);

                    var link = document.createElement('a');
                    link.href = file;
                    link.download = "ectd";
                    link.click();
                    window.URL.revokeObjectURL(link.href);
                    progressbar.hide();
                    _downloadBtn.show();
                    _validateBtn.show();
                }
            };
            xhr.send();
            return this; 
        },
        _setProgressbar: function(msg){

        },
        _writeMsg: function(nodeText, msg){
            var msgDiv = $('<div class="errorMsg"><span>'+nodeText+'</span><span style="color:red">'+msg+'</span></div>')
                    .css({"font-weight":"bold",  "width":"100%" }).appendTo($(".rightPanel .portlet-footer"));
        }
    };
    Jstree.prototype.__proto__ = Filetree.prototype;
    //Jstree.prototype = Object.create(Filetree.prototype);
    var JsTree = new Jstree("#jsECTDtree", $(window).height()-250 );
    JsTree.setExpandTreeListener();

    /*$("#download-btn").click(function(){
        var appUid = angular.element(JsTree.ctrlId).scope().getAppUid();
        var userData = angular.element(JsTree.ctrlId).scope().getUserData();        console.log("downloading .....", appUid, userData);
        var _button = $(this), progressbar;
        _button.fadeOut(300, function(){
                progressbar = $('<div class="load-process">Loading...</div>')
                    .css({"width": "5%", "height": 2, "background": "#ff0000", "margin-bottom": "25px"}).appendTo(_button.parents(".portlet-body"));
        });

        var url = Base_URL + "/a/application/file/getZipFilesByAppUid/" + appUid +"/?uid=" + userData.uid +"&apptoken=" + userData.access_token;
        var xhr = new XMLHttpRequest();
        xhr.open('GET', url, true);
        xhr.responseType = 'blob';
        xhr.onprogress = function(e){        //console.log (e);
            if (e.lengthComputable) {
                var progress = e.loaded/e.total;
                progressbar.show().css("width", progress +"%");                                                              //console.log(progress);
            }
        };
        xhr.onload = function(e) {
            if (this.status === 200) {                                          //console.log("zip file: ",this.response);
                var blob = new Blob([this.response], {type: 'application/zip'}),
                    file = URL.createObjectURL(blob);

                var link = document.createElement('a');
                link.href = file;
                link.download = "ectd";
                link.click();
                window.URL.revokeObjectURL(link.href);
                progressbar.hide();
                _button.show();
            }
        };
        xhr.send();

    });*/
</script>

