<!--<div>
    <input type="checkbox"  ng-model='item.checked' value="{{item.id}}" ng-click="selectCategory(item)" /> {{item.data.termName}}
    <ul style="list-style-type:none;">
        <li ng-repeat="item in item.children" ng-include="'views/categoryTree.html'">
        </li>
    </ul>
</div>
-->

<div>
    <input type='checkbox' value="{{item.id}}" check-list='checked_fruits'> {{item.data.termName}}
    <ul style="list-style-type:none;">
        <li ng-repeat="item in item.children" ng-include="'views/category/categoryTree.html'">
        </li>
    </ul>
</div>

                                      