<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <a ui-sref="dashboard">Home</a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <a ui-sref="mediaUpload">Add media</a>
        </li>
    </ul>
</div>

<div class="row">
    <div class="col-md-12">

        <header>
            <button type="button" class="btn btn-sm btn-gray mt-n-xs pull-right" ui-sref="library">Media Library</button>
            <h4 class="widget-title">Upload New Media</h4>
        </header>
    </div>

   
    <!-- END PAGE TITLE-->
    <!-- END PAGE HEADER-->
    <div class="row">

        <div class="col-xs-6 col-xs-offset-3">
            <div class="well">

                 <form action="" class="dropzone dropzone-file-area" dropzone="" id="dropzone">
                                    <div class="dz-default dz-message">  <h3 class="sbold">Drop files here or click to upload</h3>
                                    </div>
                                </form>
                                    
               <!--    <form class="form-horizontal dropzone dz-clickable" id="file-form" action="/upload/" method="post" enctype="multipart/form-data" name="file-form">
                <input id="id_base64_data" name="base64_data" type="hidden">
                <input id="id_base64_name" name="base64_name" type="hidden">
                <input id="id_base64_content_type" name="base64_content_type" type="hidden">
                <div class="fileupload fileupload-new" data-provides="fileupload">
                    <legend>Search for file</legend>
                </div>
            <div class="dz-default dz-message"><span>Drop files here to upload</span></div>
            </form>-->

            <!--
                <input type="file" file-model="myFile" />
                <button ng-click="uploadFile()">upload me</button>
            </div>-->

            <div class="pull-right">
                <button class="btn btn-success" ng-click="uploadFile()">Upload File</button>
                <button class="btn btn-danger" ng-click="reset()">Reset Dropzone</button>
            </div>




        </div>




    </div>
    <script type="text/javascript">
        Dropzone.autoDiscover = false;
    </script>