div.login-page {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0; }
  div.login-page .company_logo {
    width: 75%;
    height: 100vh;
    background: url("../img/ECTD.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center; }
    div.login-page .company_logo div.logo-title {
      color: #fff;
      text-align: center; }
      div.login-page .company_logo div.logo-title h2 {
        font-size: 5.5rem; }
      div.login-page .company_logo div.logo-title p {
        font-size: 1.5rem;
        letter-spacing: .2rem; }
  div.login-page .login-content {
    display: flex;
    height: 100%;
    width: 20%;
    /* padding: 2em; */
    align-self: center;
    margin-left: 3em; }
    div.login-page .login-content .login-form .form-control {
      width: 100%;
      padding: 10px 0;
      border: none;
      border-bottom: 1px solid;
      border-color: #a0a9b4;
      color: #868e97;
      font-size: 14px;
      margin-top: 30px;
      border-radius: 0 !important; }
    div.login-page .login-content .login-form #input-name::-webkit-input-placeholder {
      text-align: center;
      background: url("../img/input-name1.png");
      background-position: 0 50%;
      background-repeat: no-repeat;
      padding: 2px 2px 3px 2px; }
    div.login-page .login-content .login-form #input-pass::-webkit-input-placeholder {
      text-align: center;
      background: url("../img/input-pass1.png");
      background-position: 0 50%;
      background-repeat: no-repeat;
      padding: 2px 2px 6px 2px; }
    div.login-page .login-content .login-form :-moz-placeholder {
      /* Firefox 18- */
      text-align: center; }
    div.login-page .login-content .login-form ::-moz-placeholder {
      /* Firefox 19+ */
      text-align: center; }
    div.login-page .login-content .login-form :-ms-input-placeholder {
      text-align: center; }

@media (max-width: 1320px) {
  div.login-page .company_logo {
    width: 70%; }
  div.login-page .login-content {
    width: 25%;
    margin-left: 2em; } }

@media (max-width: 997px) {
  div.login-page {
    background: url("../img/ECTD.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh; }
    div.login-page .company_logo {
      display: none; }
    div.login-page .login-content {
      width: 100%;
      align-items: center; }
      div.login-page .login-content .login-form {
        width: 40%;
        margin: 0 auto; }
        div.login-page .login-content .login-form h2 {
          color: #fff; } }

@media (max-width: 640px) {
  div.login-page {
    height: 100vh; }
    div.login-page .login-content {
      width: 100%;
      margin: 0 auto;
      align-items: center;
      align-self: center; }
      div.login-page .login-content .login-form {
        width: 65%; } }

@media (max-width: 414px) {
  div.login-page .login-content .login-form {
    width: 80%; } }
